@using FinançasPessoaisWebAPI.FrontEnd.Components
@using FinançasPessoaisWebAPI.FrontEnd.Components.LoginSlides

<MudContainer Class="d-flex pa-0" style="height:100%; background-color: #ffffff; background-image: url(images//carrossel//image2.jpeg); background-repeat: no-repeat; background-size: cover; background-position: center;" >
    <MudContainer Class="align-self-end pb-15 text-white" style="background-color: var(--mud-palette-primary);" >
        <MudText Typo="Typo.h5" Align="MudBlazor.Align.Center" Class="pt-6 pb-0 " Style="color:white">
            <b>Invista como um profeta</b>
        </MudText>
        <MudText Typo="Typo.subtitle1" Align="MudBlazor.Align.Center" Class="pt-0 mt-0 " Style="color:white">
            Adivinhe o futuro do mercado e torne-se o próximo guru das finanças. Ou perca tudo e culpe o universo.
        </MudText>
    </MudContainer>
</MudContainer>

