﻿<MudContainer Class="d-flex flex-column pa-2 pt-0 justify-center align-content-center" style="height: 80%;">
    <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.PostAdd" Style="font-size: 5rem;" />
    <MudText Class="align-self-center mt3" Typo="Typo.h6">Nenhuma Transação registrada</MudText>
    <MudText Class="align-self-center" Typo="Typo.body1">Acesse a página de <b>Transações</b> para adicionar</MudText>
    <MudButton Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large" Class="mt-5 align-self-center" DisableElevation="true" Variant="MudBlazor.Variant.Filled" Href="/transactions">IR PARA TRANSAÇÕES</MudButton>
</MudContainer>