﻿<MudContainer Class="d-flex flex-column pa-2 pt-0 justify-center align-content-center" style="height: 80%;">
    <MudText Class="align-self-center mt3" Typo="Typo.h6">Nenhuma Transação registrada</MudText>
    <MudButton Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large" Class="mt-3 align-self-center" DisableElevation="true" Variant="MudBlazor.Variant.Filled" Href="/transactions">IR PARA TRANSAÇÕES</MudButton>
</MudContainer>