@using FinançasPessoaisWebAPI.FrontEnd.Models
@using FinançasPessoaisWebAPI.FrontEnd.Components.Shared

<MudPaper Elevation="25" Class="pt-4 d-flex flex-column ma-0" Style="height: 35em; border-radius: 1em;">
    <MudContainer Class="px-4 ma-0 d-flex">
        <MudIcon Icon="@Icons.Material.Filled.TrendingUp" Style="font-size: 2rem;" />
        <MudText Class="ml-2" Typo="Typo.h5">Evolução do Saldo</MudText>
    </MudContainer>

    <MudContainer Class="pa-0 flex-grow-1 ma-0" style="width: 100%; max-width: unset; max-height: unset;">
        @if (BarraProgresso)
        {
            <div style="padding: 3em; height:100%; padding-top:0;" Class="d-flex justify-center align-content-center align-center">
                <MudProgressCircular Color="MudBlazor.Color.Primary" Style="height:7em;width:7em;" Indeterminate="true" Class="my-4 align-self-center" />
            </div>
        }
        else
        {
            @if (Saldos.Count != 0)
            {
                <div class="pr-2" style="padding-left: .40em; padding-bottom: 0; padding-top: 0;">
                    <ApexChart TItem="SaldoDias" Options="@chartOptions" Height="455">
                        <ApexPointSeries TItem="SaldoDias"
                                         Items="Saldos"
                                         Name="Saldo"
                                         SeriesType="SeriesType.Area"
                                         XValue="e => e.Dia"
                                         YValue="e=> (decimal)e.Saldo"
                                         Color="var(--mud-palette-primary)" />
                    </ApexChart>
                </div>
            }
            else
            {
                <NoTransactionWarning/>
            }
        }
        
    </MudContainer>
</MudPaper>
    
@code {
    [Parameter] public bool BarraProgresso { get; set; }
    [Parameter] public EventCallback<bool> BarraProgressoChanged { get; set; }
    [Parameter] required public List<SaldoDias> Saldos { get; set; }
    [Parameter] required public EventCallback<List<SaldoDias>> SaldosChanged { get; set; }

    private ApexChartOptions<SaldoDias> chartOptions = new ApexChartOptions<SaldoDias>();

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            chartOptions.Chart = new Chart
                {
                    Toolbar = new Toolbar
                    {
                        Show = false
                    },
                    Zoom = new Zoom
                    {
                        Enabled = false,
                    },
                    ParentHeightOffset = -150,
                };

            chartOptions.Grid = new Grid
                {
                    Show = false,
                };

            chartOptions.Yaxis = new List<YAxis>{
            new YAxis{
                Show = false,
            }

        };

            chartOptions.Xaxis = new XAxis
                {
                    Tooltip = new ApexCharts.AxisTooltip
                    {
                        Enabled = false,
                    },
                    Labels = new ApexCharts.XAxisLabels
                    {
                        Show = false,
                    },
                    AxisTicks = new AxisTicks
                    {
                        Show = false,
                    },
                    AxisBorder = new AxisBorder
                    {
                        Show = false,
                        Color = "var(--mud-palette-primary)",
                    }
                };

            chartOptions.Fill = new Fill
                {
                    Type = new List<FillType>
                {
                    FillType.Gradient
                },
                    Gradient = new FillGradient
                    {
                        Shade = GradientShade.Light,
                        Type = GradientType.Vertical,
                        ShadeIntensity = 0.5,
                        GradientToColors = new List<string>
                        {"var(--mud-palette-primary)"},
                        OpacityFrom = 0.75,
                        OpacityTo = 0.5,
                        Stops = new List<double> { 0, 100 }
                    }
                };

            var customFunction = "function({series, seriesIndex, dataPointIndex, w}){" +

                // Acessa o valor do eixo X (Dia)
                "var xValue = w.config.series[seriesIndex].data[dataPointIndex].x;" +

                // Acessa o valor do eixo Y (Saldo)
                "var yValue = w.config.series[seriesIndex].data[dataPointIndex].y;" +

                // Formata o Saldo para moeda BRL
                "var formattedYValue = yValue.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });" +

                // FORMATAÇÃO DO TOOLTIP
                "return '<div class=\"ApexChartTooltipContentWrapper\"><div class=\"ApexChartTooltipHeader\">' + xValue + '</div><div class=\"ApexChartTooltipContent\">' + formattedYValue + '</div></div>'; }";

            chartOptions.Tooltip = new ApexCharts.Tooltip
                {

                    Custom = customFunction
                };
        }
    }

    // CUSTOMIZAÇÃO DO GRÁFICO DE ÁREA
    protected override void OnInitialized()
    {   
        chartOptions.Chart = new Chart{
            Toolbar = new Toolbar{
                Show = false
            },
            Zoom = new Zoom{
                Enabled = false,
            },
            ParentHeightOffset = -150,
        };

        chartOptions.Grid = new Grid{
            Show = false,
        };

        chartOptions.Yaxis = new List<YAxis>{
            new YAxis{
                Show = false,
            }

        };

        chartOptions.Xaxis = new XAxis{
            Tooltip = new ApexCharts.AxisTooltip{
                Enabled = false,
            },
            Labels = new ApexCharts.XAxisLabels{
                Show = false,
            },
            AxisTicks = new AxisTicks{
                Show = false,
            },
            AxisBorder = new AxisBorder{
                Show = false,
                Color = "var(--mud-palette-primary)",
            }
        };

        chartOptions.Fill = new Fill{
            Type = new List<FillType>
                {
                    FillType.Gradient
                },
                Gradient = new FillGradient
                {
                    Shade = GradientShade.Light,
                    Type = GradientType.Vertical,
                    ShadeIntensity = 0.5,
                    GradientToColors = new List<string>
                        {"var(--mud-palette-primary)"},
                    OpacityFrom = 0.75,
                    OpacityTo = 0.5,
                    Stops = new List<double> { 0, 100 }
                }
        };

        var customFunction = "function({series, seriesIndex, dataPointIndex, w}){" +

            // Acessa o valor do eixo X (Dia)
            "var xValue = w.config.series[seriesIndex].data[dataPointIndex].x;" +
            
            // Acessa o valor do eixo Y (Saldo)
            "var yValue = w.config.series[seriesIndex].data[dataPointIndex].y;" +
            
            // Formata o Saldo para moeda BRL
            "var formattedYValue = yValue.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });" +
            
            // FORMATAÇÃO DO TOOLTIP
            "return '<div class=\"ApexChartTooltipContentWrapper\"><div class=\"ApexChartTooltipHeader\">' + xValue + '</div><div class=\"ApexChartTooltipContent\">' + formattedYValue + '</div></div>'; }";

        chartOptions.Tooltip = new ApexCharts.Tooltip
            {

                Custom = customFunction
            };



    }

}