@using FinançasPessoaisWebAPI.FrontEnd.Helpers
<MudPaper Elevation="25" Class="pa-4" Style="height: 8em; border-radius: 1em; border: 1px solid var(--mud-palette-error);">

        <MudContainer Class="pa-0 ma-0 d-flex">
            <MudIcon Icon="@Icons.Material.Filled.MoneyOff" Style="font-size: 2rem;" Color=@AuxFunc.CorTransacao(false)  />
            <MudText Class="ml-2" Typo="Typo.h5" Color=@AuxFunc.CorTransacao(false)>Despesas</MudText>
            <MudSpacer/>
        <MudTooltip Text="Somatório de todas as despesas do mês atual." Arrow="true" Placement="Placement.Top">
            <MudIcon Icon="@Icons.Material.Filled.HelpOutline" Color="@AuxFunc.CorTransacao(false)" Style="font-size: 1.5rem;" />
            </MudTooltip>
        </MudContainer>

        @if (BarraProgresso)
        {
            <MudProgressLinear Color="MudBlazor.Color.Error" Indeterminate="true" Class="my-4" />
        }
        else
        {
            <MudContainer Class="pa-0 ma-0 d-flex pt-1">
                <MudText Class="pt-1 pl-0" Color=@AuxFunc.CorTransacao(false) Typo="Typo.h4">
                    <MudIcon Icon=@(DespesasMesAnterior>=Despesas ? @Icons.Material.Filled.ArrowDropUp : @Icons.Material.Filled.ArrowDropDown) Color=@AuxFunc.CorTransacao(false) Size="MudBlazor.Size.Medium" />
                <b>@AuxFunc.Valor(Despesas, CultureInfoParameter)</b>
                </MudText>
            </MudContainer>
        }

</MudPaper>




@code{

    [Parameter] public bool BarraProgresso { get; set; }
    [Parameter] public EventCallback<bool> BarraProgressoChanged { get; set; }

    [Parameter] public decimal Despesas { get; set; }
    [Parameter] public EventCallback<decimal> DespesasChanged { get; set; }

    [Parameter] public decimal DespesasMesAnterior { get; set; }
    [Parameter] public EventCallback<decimal> DespesasMesAnteriorChanged { get; set; }

    [Parameter] public string CultureInfoParameter { get; set; }
}