@using FinançasPessoaisWebAPI.FrontEnd.Helpers
<MudPaper Elevation="25" Class="pa-4" Style="height: 8em; border-radius: 1em; border: 1px solid var(--mud-palette-success);">

        <MudContainer Class="pa-0 ma-0 d-flex">
            <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Style="font-size: 2rem;" Color=@AuxFunc.CorTransacao(true) />
            <MudText Class="ml-2" Typo="Typo.h5" Color=@AuxFunc.CorTransacao(true)>Receitas</MudText>
            <MudSpacer/>
        <MudTooltip Text="Somatório de todas as receitas do mês atual." Arrow="true" Placement="Placement.Top">
            <MudIcon Icon="@Icons.Material.Filled.HelpOutline" Color="@AuxFunc.CorTransacao(true)" Style="font-size: 1.5rem;" />
            </MudTooltip>
        </MudContainer>

        @if (BarraProgresso)
        {
            <MudProgressLinear Color="MudBlazor.Color.Success" Indeterminate="true" Class="my-4" />
        }
        else
        {
            <MudContainer Class="pa-0 ma-0 d-flex pt-1">
                <MudText Class="pt-1 pl-0" Color=@AuxFunc.CorTransacao(true) Typo="Typo.h4">
                    <MudIcon Icon=@(ReceitasMesAnterior>=Receitas ? @Icons.Material.Filled.ArrowDropUp : @Icons.Material.Filled.ArrowDropDown) Color=@AuxFunc.CorTransacao(true) Size="MudBlazor.Size.Medium" />
                <b>@AuxFunc.Valor(Receitas, CultureInfoParameter)</b>
                </MudText>
            </MudContainer>
        }

        

</MudPaper>


@code{
    [Parameter] public bool BarraProgresso { get; set; }
    [Parameter] public EventCallback<bool> BarraProgressoChanged { get; set; }

    [Parameter] public decimal Receitas { get; set; }
    [Parameter] public EventCallback<decimal> ReceitasChanged { get; set; }

    [Parameter] public decimal ReceitasMesAnterior { get; set; }
    [Parameter] public EventCallback<decimal> ReceitasMesAnteriorChanged { get; set; }

    [Parameter] public string CultureInfoParameter { get; set; }
}