@using FinançasPessoaisWebAPI.FrontEnd.Helpers
<MudPaper Class="pa-4" Elevation="25" Style="height: 8em; border-radius: 1em; background-color: var(--mud-palette-primary);">


        <MudContainer Class="pa-0 ma-0 d-flex">
            <MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Style="font-size: 2rem; color: rgba(255,255,255,1);" />
            <MudText Class="ml-2" Typo="Typo.h5" style="color: rgba(255,255,255,1);">Saldo Atual</MudText>
            <MudSpacer/>
            <MudTooltip Text="Valor atualizado da soma dos saldos de todas as contas." Arrow="true" Placement="Placement.Top">
                <MudIcon Icon="@Icons.Material.Filled.HelpOutline" Class="" Style="font-size: 1.5rem; color: rgba(255,255,255,1);" />
            </MudTooltip>
        </MudContainer>

        

            @if(BarraProgresso)
            {
                <MudProgressLinear Color="MudBlazor.Color.Tertiary" Indeterminate="true" Class="my-4" />
            }
            else{
                <MudContainer Class="pa-0 ma-0 d-flex pt-1">
                    <MudToggleIconButton @bind-Toggled="@Visible"
                                         Icon="@Icons.Material.Filled.VisibilityOff"
                                         Title="Esconder Saldo"
                                         ToggledIcon="@Icons.Material.Filled.Visibility"
                                         ToggledTitle="Visualizar Saldo"
                                         Size="MudBlazor.Size.Medium" ToggledSize="MudBlazor.Size.Medium"
                                         style="color: rgba(255,255,255,1);" />
            <MudText style="color: rgba(255,255,255,1);" Class="pt-1 pl-2" Typo="Typo.h4"><b>@(!Visible ? "---" : AuxFunc.Valor(SaldoTotal, CultureInfoParameter))</b></MudText>
                </MudContainer>
            }

        

</MudPaper>





@code{
    [Parameter] public bool BarraProgresso { get; set; }
    [Parameter] public EventCallback<bool> BarraProgressoChanged { get; set; }

    [Parameter] public decimal SaldoTotal { get; set; }
    [Parameter] public EventCallback<decimal> SaldoTotalChanged { get; set; }

    [Parameter] public string CultureInfoParameter { get; set; }

    public bool Visible { get; set; } = false;



}