@using FinançasPessoaisWebAPI.FrontEnd.Helpers

<MudPaper Elevation="25" Class="pa-4" Style="height: 8em; border-radius: 1em; border: 1px solid var(--mud-palette-info);">

        <MudContainer Class="pa-0 ma-0 d-flex">
            <MudIcon Icon="@Icons.Material.Filled.Wallet" Style="font-size: 2rem; color: var(--mud-palette-info);" />
            <MudText Class="ml-2" Typo="Typo.h5" style="color: var(--mud-palette-info);">Economias</MudText>
            <MudSpacer/>
            <MudTooltip Text="Diferença entre todas as receitas e despesas do mês atual." Arrow="true" Placement="Placement.Top">
            <MudIcon Icon="@Icons.Material.Filled.HelpOutline" Color="MudBlazor.Color.Info" Style="font-size: 1.5rem;" />
            </MudTooltip>
        </MudContainer>

        @if (BarraProgresso)
        {
            <MudProgressLinear Color="MudBlazor.Color.Info" Indeterminate="true" Class="my-4" />
        }
        else
        {
            <MudContainer Class="pa-0 ma-0 d-flex pt-1">
                <MudText Class="pt-1 pl-0" style="color: var(--mud-palette-info);" Typo="Typo.h4" Color="MudBlazor.Color.Default">
                    <MudIcon Icon=@(EconomiasMesAnterior>=Economias ? @Icons.Material.Filled.ArrowDropUp : @Icons.Material.Filled.ArrowDropDown) Size="MudBlazor.Size.Medium" />
                <b>@AuxFunc.Valor(Economias, CultureInfoParameter)</b>
                </MudText>
            </MudContainer>
        }

</MudPaper>




@code{

    [Parameter] public bool BarraProgresso { get; set; }
    [Parameter] public EventCallback<bool> BarraProgressoChanged { get; set; }

    [Parameter] public decimal Economias { get; set; }
    [Parameter] public EventCallback<decimal> EconomiasChanged { get; set; }

    [Parameter] public decimal EconomiasMesAnterior { get; set; }
    [Parameter] public EventCallback<decimal> EconomiasMesAnteriorChanged { get; set; }

    [Parameter] public string CultureInfoParameter { get; set; }

}