@using MudBlazor
@using FinançasPessoaisWebAPI.FrontEnd.Layout
@using FinançasPessoaisWebAPI.FrontEnd.Components.Dialogo
@using FinançasPessoaisWebAPI.FrontEnd.Components
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@using System.Globalization
@using FinançasPessoaisWebAPI.FrontEnd.Models
@using FinançasPessoaisWebAPI.FrontEnd.Helpers
@using FinançasPessoaisWebAPI.FrontEnd.Services
@inject TransactionService TransactionService
@inject IJSRuntime JSRuntime

@* TABELA *@
<div class="pa-0 mt-0" style="max-width: unset;" >
    @* SELETOR DE MÊS *@
    <MudTabs @ref="_tabs" Elevation="25" Rounded="true" Color="@MudBlazor.Color.Default" ActivePanelIndexChanged="() => FiltraTransacoes()">
        <MudTabPanel Text="TUDO" ID="0" /> 
        @* PERCORRE TODOS OS MESES DESDE O MÊS MAIS ANTIGO ATÉ O MÊS ATUAL *@
        @for (DateTime mes = dataMinima; mes <= dataHoje; mes = mes.AddMonths(1))
        {
            // CRIA NOVA ABA COM TEXTO DO MÊS EM QUESTÃO
            <MudTabPanel Text=@(mes.ToString("MMM/yy", CultureInfo.CreateSpecificCulture(CultureInfoParameter)).ToUpper().Replace(".", "")) />
        }
    </MudTabs >

    @* TABELA *@
    <MudTable
        @ref="tabela"
        Class="mt-3"
        @bind-Items=@TransacoesFiltradas
        Hover="true"
        Elevation="25"
        SortLabel="Ordenar por"
        Filter="new Func<TransacaoBD,bool>(FilterFunc1)"

        CanCancelEdit="true"
        EditTrigger="TableEditTrigger.EditButton"
        EditButtonPosition="TableEditButtonPosition.End"

        @bind-Loading=ProgressBar
        LoadingProgressColor="MudBlazor.Color.Primary"

        OnRowMouseEnter="RowMouseEnterEvent"

        T="TransacaoBD"
        Breakpoint="Breakpoint.Sm"
        
        FixedFooter="true"
        FixedHeader="true"
        Height="@("calc(100vh - (48px + 200px + 16px + 24px))")"
        style=@(TransacoesFiltradas.Count == 0 ? "background: url('home_img14.png') no-repeat center;  background-size: 30em; background-color: var(--mud-palette-surface);" : "")
        >

        @* BARRA DE FERRAMENTAS *@
        <ToolBarContent>
            @* NOVA TRANSAÇÃO *@
            <MudButton Class="mt-1" style="height: 2.55em; margin-top: .25em;" aria-label="Nova Transação" DisableElevation="true" Color="MudBlazor.Color.Primary" OnClick="@((e) => CriarTransa_Dialog())" Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.AddCircleOutline"><b>Nova Transação</b></MudButton>

            @* SELETOR DE DATAS *@
            <MudToggleGroup @bind-Value="PeriodoSeletor" @onclick="() => AtivaPainel(_seletorPeriodo.Value)" @ref="_seletorPeriodo" SelectionMode="SelectionMode.SingleSelection" style="height: 2.55em; margin-top: .25em;" Class="ml-3 d-flex" T="int" Outline="true" Delimiters="true">
               
                <MudToggleItem Value="@(0)" @ref="_seletorTudo">
                    <MudIcon Size="MudBlazor.Size.Small" Icon=@Icons.Material.Filled.History />
                    <MudText Typo="Typo.body2" Class="ml-2"><b>HISTÓRICO COMPLETO</b></MudText>
                </MudToggleItem>

                <MudToggleItem Class="classeDoBotao" Value="@(1)" @ref="_seletorMes">
                    <MudIcon Class="classeDoBotao" Size="MudBlazor.Size.Small" Icon=@Icons.Material.Filled.Today />
                    <MudText Typo="Typo.body2" Class="ml-2 classeDoBotao"><b>MÊS ATUAL</b></MudText>
                </MudToggleItem>

            </MudToggleGroup>

            @* SELETOR DE CONTAS *@
            <MudToggleGroup @ref="_seletorContas" @bind-Value="ContaSeletor" @onclick="() => FiltraTransacoes()" SelectionMode="MudBlazor.SelectionMode.SingleSelection" style="height: 2.55em; margin-top: .25em;" Class="ml-3 d-flex" T="int" Outline="true" Delimiters="true">
                <MudToggleItem Value="@((int)0)">
                    <MudIcon Size="MudBlazor.Size.Small" Icon=@Icons.Material.Filled.AllInclusive/> 
                </MudToggleItem>
                <MudToggleItem Value="@((int)1)">
                    <MudIcon Size="MudBlazor.Size.Small" Icon=@AuxFunc.IconeConta(0)/> 
                </MudToggleItem>
                <MudToggleItem Value="@((int)2)">
                    <MudIcon Size="MudBlazor.Size.Small" Icon=@AuxFunc.IconeConta(1)/> 
                </MudToggleItem>
                <MudToggleItem Value="@((int)3)">
                    <MudIcon Size="MudBlazor.Size.Small" Icon=@AuxFunc.IconeConta(2)/> 
                </MudToggleItem>
            </MudToggleGroup>

            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Variant="MudBlazor.Variant.Outlined"Placeholder="Pesquisar" Adornment="Adornment.Start" AdornmentColor="MudBlazor.Color.Primary" AdornmentIcon="@Icons.Material.Filled.Search"  IconSize="MudBlazor.Size.Medium" Margin="Margin.Dense" Class="mt-2 mr-1"></MudTextField>
        </ToolBarContent>

        @* DIMENSÕES DE CADA COLUNA *@
        <ColGroup>
            @* DESCRIÇÃO *@
            <col style="width:21%;" />

            @* TIPO *@
            <col style="width:7%;" />

            @* VALOR *@
            <col style="width:15%;" />

            @* CATEGORIA *@
            <col style="width:15%;" />

            @* CONTA *@
            <col style="width:10%;" />

            @* DATA *@
            <col style="width:12%;" />

            @* RECORRÊNCA *@
            <col style="width:20%;" />

        </ColGroup>

        @* CABEÇALHO *@
        <HeaderContent>
            @* DESCRIÇÃO *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<TransacaoBD, object>(x=>x.Descricao)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.Description Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Descrição</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* TIPO *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<TransacaoBD, object>(x=>x.Tipo)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.ImportExport Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Tipo</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* VALOR *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<TransacaoBD, object>(x=>x.Valor)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.AttachMoney Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Valor</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* CATEGORIA *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<TransacaoBD, object>(x=>x.Categoria)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.Category Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Categoria</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* CONTA *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<TransacaoBD, object>(x=>x.ContaId)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.AccountBalance Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Conta</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* DATA DA TRANSAÇÃO *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<TransacaoBD, object>(x=>x.Data)" InitialDirection="SortDirection.Descending">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.CalendarMonth Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Data</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* RECORRÊNCIA *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<TransacaoBD, object>(x=>x.Recorrencia)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.Autorenew Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Recorrência</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>
    
        </HeaderContent>

        @* CONTEÚDO *@
        <RowTemplate>
            @* DESCRIÇÃO *@
            <MudTd DataLabel="Descrição">
                <div class="pl-3">
                <MudBadge Icon="@Icons.Material.Filled.Autorenew" Visible="@(context.Id == -1 ? true : false)" Color="MudBlazor.Color.Primary" Origin="Origin.CenterLeft" Class="mx-3 px-3">
                    <b>@context.Descricao</b>
                </MudBadge>
                @if (context.Recorrencia > 0 && (context.Recorrencia_Modo == 0 || context.Recorrencia_Modo == 2))
                {
                        <MudChip Size="MudBlazor.Size.Small"><p style="color: transparent; text-shadow: 0 0 0 var(--mud-palette-text-primary);">@context.TextoChip</p></MudChip>
                }
                </div>
            </MudTd>

            @* TIPO *@
            <MudTd DataLabel="Tipo">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@(@context.Tipo==true ? @Icons.Material.Filled.ArrowDropUp : @Icons.Material.Filled.ArrowDropDown) Color=@AuxFunc.CorTransacao(@context.Tipo) Size="MudBlazor.Size.Small" />
                    <MudText Class="ml-2" Typo="Typo.subtitle2" Color=@AuxFunc.CorTransacao(@context.Tipo)><b>@(@context.Tipo==true ? "Receita" : "Despesa")</b></MudText>
                </MudContainer>
            </MudTd>

            @* VALOR *@
            <MudTd DataLabel="Valor">
                <MudText Color=@AuxFunc.CorTransacao(context.Tipo) >
                    <b>@AuxFunc.Valor(context.Valor, CultureInfoParameter)</b>
                </MudText>
            </MudTd>

            @* CATEGORIA *@
            <MudTd DataLabel="Categoria">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@AuxFunc.IconeCategoria(@context.Categoria) Color="MudBlazor.Color.Default" Size="MudBlazor.Size.Small" />
                    <MudText Class="ml-2" Typo="Typo.subtitle2"><b>@AuxFunc.CategoriaTexto(@context.Categoria)</b></MudText>
                </MudContainer>
            </MudTd>

            @* CONTA *@
            <MudTd DataLabel="Conta">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@AuxFunc.IconeConta(@context.ContaId) Color="MudBlazor.Color.Default" Size="MudBlazor.Size.Small" />
                    <MudText Class="ml-2" Typo="Typo.subtitle2"><b>@AuxFunc.NomeConta(@context.ContaId)</b></MudText>
                </MudContainer>
            </MudTd>

            @* DATA TRANSAÇÃO *@
            <MudTd DataLabel="Data da Transação">
                <b>@context.Data.ToString("dd/MM/yyyy")</b>
            </MudTd>

            @* RECORRÊNCA *@
            <MudTd DataLabel="Recorrência">
                <b>@AuxFunc.Recorrencia(@context.Recorrencia, @context.Recorrencia_Modo, @context.Recorrencia_N_Vezes, @context.Recorrencia_Data_Limite)</b>
            </MudTd>

        </RowTemplate>

        @* CAMPOS PARA EDIÇÃO DE LINHA (APESAR DE NÃO USAR, É NECESSÁRIO PARA A EXISTÊNCIA DOS BOTÕES DE CONTEXTO DE FORMA NATIVA) *@
        <RowEditingTemplate></RowEditingTemplate>

        @* PAGINAÇÃO *@
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { int.MaxValue }" HideRowsPerPage="true" HidePageNumber="true" HidePagination="true"/>
        </PagerContent>

        @* BOTÃO DE EDIÇÃO DE LINHA *@
        <EditButtonContent>
            <MudContainer Class="pa-0 d-flex">
                @* BOTÃO DE EDITAR *@
                <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Filled.Edit" OnClick="@((e) => EditarTransa_Dialog(currentlyHoveredElement_id, currentlyHoveredElement_tipo))" />
                @* BOTÃO DE DELETAR *@
                <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Filled.Delete" OnClick="@((e) => ConfirmaExclusao_Dialog(currentlyHoveredElement_id))" Class="ml-3" />
            </MudContainer>
        </EditButtonContent>

    </MudTable>
</div>

@* CÓDIGO *@
@code {
    [Parameter] public string CultureInfoParameter { get; set; }

    // LISTA QUE IRÁ CONTER TODAS AS TRANSAÇÕES ORIGINAIS E VIRTUAIS
    private List<TransacaoBD> Transacoes = new List<TransacaoBD>();

    // LISTA QUE IRÁ CONTER TODAS AS TRANSAÇÕES COM FILTROS APLICADOS
    private List<TransacaoBD> TransacoesFiltradas = new List<TransacaoBD>();

    // DATA DE HOJE
    public DateTime dateNow { get; set; } = DateTime.Now;

    public DateTime dataHoje { get; set; } = DateTime.Now;

    // PARÂMETRO QUE RECEBE A CONTA (APENAS COM A URL CUSTOMIZADA)
    [Parameter] public int Conta { get; set; }
    [Parameter] public EventCallback<int> ContaChanged { get; set; }

    // INSTÂNCIA DO MUD TABS
    private MudTabs _tabs;

    // INSTÂNCIA DO MUD TOGGLE GROUP
    private MudToggleGroup<int> _seletorPeriodo;

    // INSTÂNCIA DO MUD TOGGLE GROUP
    private MudToggleItem<int> _seletorMes;

    // INSTÂNCIA DO MUD TOGGLE ITEM
    private MudToggleItem<int> _seletorTudo;

    // INSTÂNCIA DO MUD TOGGLE ITEM
    private MudToggleGroup<int> _seletorContas;

    // VARIÁVEL QUE IRÁ GUARDAR A CONTA
    private int ContaSeletor { get; set; }

    // VARIÁVEL QUE IRÁ GUARDAR O PERIODO
    private int PeriodoSeletor { get; set; }

    // INSTÂNCIA DO MUD TABLE
    private MudTable<TransacaoBD> tabela;

    // DATA DA TRANSAÇÃO MAIS ANTIGA
    public DateTime dataMinima = DateTime.Now;

    // LOADING DA TABELA
    bool ProgressBar = false;

    public void AtivaPainel(int tudoAtual)
    {
        if (tudoAtual == 0)
        {
            _tabs.ActivatePanel(0);
        }
        else
        {
            _tabs.ActivatePanel(_tabs.Panels.Count - 1);
        }
        FiltraTransacoes();
    }

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // PEGA TODOS OS DADOS DO SERVIDOR
            AtualizaTabelaServidor();

            // RECEBE O PARÂMETRO E ATIVA O SELETOR DE CONTA
            ContaSeletor = Conta;

            AtivaPainel(0);

            FiltraTransacoes();
            

            StateHasChanged();
            //AtivaPainel(1);
            // CHAMANDO O CLICADOR DE BOTÃO JAVASCRIPT (GAMBIARRA NECESSÁRIA)
            await JSRuntime.InvokeVoidAsync("myFunctions.clickButton");
        }
    }

    // ---------------------------------- DADOS -----------------------------------------------

    // AGRUPADOR DE FUNÇÕES RESPONSÁVEIS PELA ATUALIZAÇÃO DA TABELA
    private async void AtualizaTabelaServidor()
    {
        // ATIVA BARRA DE PROGRESSO
        ProgressBar = true;

        TransacoesOV TraOV = new TransacoesOV(TransactionService);

        // LIMPA A TABELA
        Transacoes.Clear();

        // RECEBE OS VALORES DO SERVIDOR
        Transacoes = await TraOV.TransacoesTotais();

        // DETERMINA A DATA MÍNIMA
        if (Transacoes.Count > 0) { dataMinima = Transacoes.Min(Transacao => Transacao.Data); }

        // DESATIVA BARRA DE PROGRESSO
        ProgressBar = false;
        // FILTRO TRANSAÇÕES
        TransacoesFiltradas = Transacoes;

        FiltraTransacoes();

        // ATUALIZA A TELA
        StateHasChanged();
    }

    // FILTRAR TODAS AS TRANSAÇÕES POR MÊS
    public void FiltraTransacoes()
    {   
        var dataFiltragem = _tabs.ActivePanel.Text;
        if (dataFiltragem != dateNow.ToString("MMM/yy", CultureInfo.CreateSpecificCulture(CultureInfoParameter)).ToUpper().Replace(".", ""))
        {
            _seletorMes.SetSelected(false);
        }
        else
        {
            _seletorMes.SetSelected(true);
        }

        // RETORNA TUDO
        if(dataFiltragem=="TUDO" && ContaSeletor==0)
        {
            _seletorTudo.SetSelected(true);
            TransacoesFiltradas = Transacoes;
        }
        // APLICA OS DOIS FILTROS
        else if(dataFiltragem!="TUDO" && ContaSeletor!=0)
        {
            _seletorTudo.SetSelected(false);
            TransacoesFiltradas = Transacoes.Where(Transacao => Transacao.Data.ToString("MMM/yy", CultureInfo.CreateSpecificCulture(CultureInfoParameter)).ToUpper().Replace(".", "") == dataFiltragem).ToList().Where(Transacao => Transacao.ContaId == (ContaSeletor - 1)).ToList();
        }
        // SE TIVER APENAS UM DOS FILTROS
        else if(dataFiltragem!="TUDO" && ContaSeletor==0)
        {
            _seletorTudo.SetSelected(false);
            TransacoesFiltradas = Transacoes.Where(Transacao => Transacao.Data.ToString("MMM/yy", CultureInfo.CreateSpecificCulture(CultureInfoParameter)).ToUpper().Replace(".", "") == dataFiltragem).ToList();
        }
        // PQ NÃO FUNCIONA?
        else if(dataFiltragem=="TUDO" && ContaSeletor!=0)
        {
            _seletorTudo.SetSelected(true);
            TransacoesFiltradas = Transacoes.Where(Transacao => Transacao.ContaId == (ContaSeletor-1)).ToList();   
        }
        StateHasChanged();
    }

    // --------------------------------- PESQUISA ----------------------------------------------

    // VARIÁVEL QUE GUARDA A STRING DE BUSCA
    private string searchString1 = "";

    // FUNÇÕES PARA PESQUISA
    private bool FilterFunc1(TransacaoBD transacao) => FilterFunc(transacao, searchString1);
    private bool FilterFunc(TransacaoBD transacao, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (transacao.Descricao.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (transacao.Valor.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    // ----------------------------------- DIÁLOGOS  -------------------------------------------   

    // CRIAÇÃO
    private async Task CriarTransa_Dialog()
    {
        MudBlazor.DialogOptions options = new MudBlazor.DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };

        var dialog = await DialogService.ShowAsync<NewTransaction_Dialog>("Nova Transação", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            // MENSAGEM DE SUCESSO
            Snackbar.Clear();
            Snackbar.Add("Transação criada com sucesso!", Severity.Success);
            // ATUALIZA TABELA
            AtualizaTabelaServidor();
        }

    }

    // EDIÇÃO
    private async Task EditarTransa_Dialog(int id, bool Tipo)
    {
        if (id != -1)
        {
            MudBlazor.DialogOptions options = new MudBlazor.DialogOptions()
                {
                    CloseOnEscapeKey = true,
                    MaxWidth = MaxWidth.Medium,
                    FullWidth = true
                };

            var parameters = new DialogParameters();
            parameters.Add("TransaID", id);
            parameters.Add("Tipo", Tipo);

            var dialog = await DialogService.ShowAsync<EditTransaction_Dialog>("Editar Transação", parameters, options);
            var result = await dialog.Result;

            if (!result.Canceled)
            {
                // MENSAGEM DE SUCESSO
                Snackbar.Clear();
                Snackbar.Add("Transação editada com sucesso!", Severity.Success);
                // ATUALIZA TABELA
                AtualizaTabelaServidor();
            }
        }
        else
        {
            // AVISO PARA TRANSAÇÕES VIRTUAIS
            var options = new MudBlazor.DialogOptions { CloseOnEscapeKey = true };
            DialogService.ShowAsync<AvisoTransacaoVirtual_Dialog>("Transações Recorrentes", options);
        }


    }

    // EXCLUSÃO
    private async Task ConfirmaExclusao_Dialog(int id)
    {
        if (id != -1)
        {
            MudBlazor.DialogOptions options = new MudBlazor.DialogOptions()
                {
                    CloseOnEscapeKey = true,
                    MaxWidth = MaxWidth.Medium,
                    FullWidth = true
                };

            var parameters = new DialogParameters<ConfirmExclusion_Dialog>();
            parameters.Add("TransaID", id);

            var dialog = await DialogService.ShowAsync<ConfirmExclusion_Dialog>("Deletar Transação", parameters, options);
            var result = await dialog.Result;

            if (!result.Canceled)
            {
                // MENSAGEM DE SUCESSO
                Snackbar.Clear();
                Snackbar.Add("Transação excluída com sucesso!", Severity.Success);
                // ATUALIZA TABELA
                AtualizaTabelaServidor();
            }
        }
        else
        {
            // AVISO PARA TRANSAÇÕES VIRTUAIS
            var options = new MudBlazor. DialogOptions { CloseOnEscapeKey = true };
            DialogService.ShowAsync<AvisoTransacaoVirtual_Dialog>("Transações Recorrentes", options);
        }
        
    }
    
    // -------------------------- GERENCIAMENTO DE EVENTOS --------------------------------------

    private int currentlyHoveredElement_id;
    private bool currentlyHoveredElement_tipo;

    private void RowMouseEnterEvent(TableRowHoverEventArgs<TransacaoBD> eventArgs)
    {
        currentlyHoveredElement_id = eventArgs.Item.Id;
        currentlyHoveredElement_tipo = eventArgs.Item.Tipo;
    }

}