﻿@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject HttpClient Http
@using System.Net.Http.Json
@using FinançasPessoaisWebAPI.FrontEnd.Services
@inject AuthenticationService AuthenticationService
@using FinançasPessoaisWebAPI.FrontEnd.Helpers

<MudNavMenu Bordered="true" Color="MudBlazor.Color.Surface">

    <MudNavLink IconColor="MudBlazor.Color.Surface" Href="personal" Match="NavLinkMatch.Prefix" style="text-decoration: unset;">
        <div class="pa-2 ma-0 d-flex align-content-center justify-content-start">
            <MudAvatar Size="MudBlazor.Size.Medium" Class="pa-0 ma-0" style="position: absolute; left: 9px; bottom: 8px;">
                <MudImage Src=@avatarUrl></MudImage>
            </MudAvatar>
            <MudText Class="align-self-center ml-5" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><b>@UserName</b></MudText>
        </div>
    </MudNavLink>

    <MudNavLink IconColor="MudBlazor.Color.Surface" Href="settings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings" style="text-decoration: none;">
        <b>Configurações</b>
    </MudNavLink>

    <MudNavLink IconColor="MudBlazor.Color.Surface" @onclick="AuthenticationService.Logout" Icon="@Icons.Material.Filled.Logout">
        <b>Sair</b>
    </MudNavLink>

    <MudDivider/>

    <MudNavLink IconColor="MudBlazor.Color.Surface" Match="NavLinkMatch.Prefix" OnClick="@ToggleDarkMode" Icon="@Icons.Material.Filled.DarkMode" style="text-decoration: unset;">
        <b>Darkmode</b>
    </MudNavLink>

</MudNavMenu>

@code{

    //RECEBENDO O VALOR DA HIERARQUIA ACIMA
    [Parameter] public bool isDarkMode { get; set; }

    // URL DO AVATAR NO GRAVATAR
    private string avatarUrl;

    // NOME DO USUÁRIO
    public string UserName;

    [Parameter] public EventCallback <bool> isDarkModeChanged { get; set; }

    private async Task ToggleDarkMode()
    {   
        isDarkMode = !isDarkMode;
        await isDarkModeChanged.InvokeAsync(isDarkMode);
    }

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            avatarUrl = await AuthenticationService.GetAvatarFromGravatar();
            UserName = await AuthenticationService.GetUserName();
        }
    }



}