@using FinançasPessoaisWebAPI.FrontEnd.Models


<div class="pr-2" style="padding-left: .40em; padding-bottom: 0;">
    <ApexChart TItem="SaldoDias" Options="@chartOptions" Height="170">
        <ApexPointSeries
            TItem="SaldoDias"
            Items="Saldos"
            Name="Saldo"
            SeriesType="SeriesType.Area"
            XValue="e => e.Dia"
            YValue="e=> (decimal)e.Saldo"
            Color="var(--mud-palette-primary)"
            />
    </ApexChart>
</div>  

@code {
    [Parameter] required public List<SaldoDias> Saldos { get; set; }
    private ApexChartOptions<SaldoDias> chartOptions = new ApexChartOptions<SaldoDias>();

    // CUSTOMIZAÇÃO DO GRÁFICO DE ÁREA
    protected override void OnInitialized()
    {
        chartOptions.Chart = new Chart
            {
                Toolbar = new Toolbar
                {
                    Show = false
                },
                Zoom = new Zoom
                {
                    Enabled = false,
                },
                ParentHeightOffset = -150,
            };

        chartOptions.Grid = new Grid
            {
                Show = false,
            };

        chartOptions.Yaxis = new List<YAxis>{
            new YAxis{
                Show = false,
            }

        };

        chartOptions.Xaxis = new XAxis
            {
                Tooltip = new ApexCharts.AxisTooltip
                {
                    Enabled = false,
                },
                Labels = new ApexCharts.XAxisLabels
                {
                    Show = false,
                },
                AxisTicks = new AxisTicks
                {
                    Show = false,
                },
                AxisBorder = new AxisBorder
                {
                    Show = false,
                    Color = "var(--mud-palette-primary)",
                }
            };

        chartOptions.Fill = new Fill
            {
                Type = new List<FillType>
                {
                    FillType.Gradient
                },
                Gradient = new FillGradient
                {
                    Shade = GradientShade.Light,
                    Type = GradientType.Vertical,
                    ShadeIntensity = 0.5,
                    GradientToColors = new List<string>
                        {"var(--mud-palette-primary)"},
                    OpacityFrom = 0.75,
                    OpacityTo = 0.5,
                    Stops = new List<double> { 0, 100 }
                }
            };

        var customFunction = "function({series, seriesIndex, dataPointIndex, w}){" +

            // Acessa o valor do eixo X (Dia)
            "var xValue = w.config.series[seriesIndex].data[dataPointIndex].x;" +

            // Acessa o valor do eixo Y (Saldo)
            "var yValue = w.config.series[seriesIndex].data[dataPointIndex].y;" +

            // Formata o Saldo para moeda BRL
            "var formattedYValue = yValue.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });" +

            // FORMATAÇÃO DO TOOLTIP
            "return '<div class=\"ApexChartTooltipContentWrapper\"><div class=\"ApexChartTooltipHeader\">' + xValue + '</div><div class=\"ApexChartTooltipContent\">' + formattedYValue + '</div></div>'; }";

        chartOptions.Tooltip = new ApexCharts.Tooltip
            {

                Custom = customFunction
            };



    }

}