@using FinançasPessoaisWebAPI.FrontEnd.Components.ContasPaineis
@using System.Globalization
@using FinançasPessoaisWebAPI.FrontEnd.Models
@using FinançasPessoaisWebAPI.FrontEnd.Helpers

@* MOSTRADOR SALDOS CONTA *@
<MudContainer Class="pa-0 ma-0 flex-column d-flex pt-0">

    @* SALDO CONTA *@
    <MudPaper Outlined="true" Class="mx-4 py-4 flex-column d-flex rounded-lg" style="border-color: var(--mud-palette-primary);">
        @if (BarraProgresso)
        {
            <div style="padding: 3em; height:100%;" Class="d-flex justify-center align-content-center align-center">
                <MudProgressCircular Color="MudBlazor.Color.Primary" Style="height:7em; width:7em;" Indeterminate="true" Class="my-4 align-self-center" />
            </div>
        }
        else
        {
            @* SALDO *@
            <MudText Class="align-self-center pl-2" Color="MudBlazor.Color.Primary" Typo="Typo.h4">
                <b>@AuxFunc.Valor(Saldo, CultureInfoParameter)</b>
            </MudText>
            <Grafico_SALDOxTEMPO Saldos=@SaldoTodosDias />
        }
        

        @* ENTRADAS | SAÍDAS | ECONOMIAS *@
        <MudContainer Class="pa-0 px-4 d-flex flex-row justify-space-between">

            @* ENTRADAS *@
            <MudChip Class="flex-grow-1" Icon="@Icons.Material.Filled.AttachMoney" Variant="MudBlazor.Variant.Text" Color="MudBlazor.Color.Success" Size="MudBlazor.Size.Medium">
                <b>@AuxFunc.Valor(Receitas30, CultureInfoParameter)</b>
            </MudChip>

            @* SAÍDAS *@
            <MudChip Class="flex-grow-1" Icon="@Icons.Material.Filled.MoneyOff" Variant="MudBlazor.Variant.Text" Color="MudBlazor.Color.Error" Size="MudBlazor.Size.Medium">
                <b>@AuxFunc.Valor(Despesas30, CultureInfoParameter)</b>
            </MudChip>

            @* ECONOMIAS *@
            <MudChip Class="flex-grow-1" Icon="@Icons.Material.Filled.Wallet" Variant="MudBlazor.Variant.Text" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium">
                <b>@AuxFunc.Valor(Receitas30 - Despesas30, CultureInfoParameter)</b>
            </MudChip> 
            
        </MudContainer>
    </MudPaper>

</MudContainer>

@code{

    // PARÂMETROS
    [Parameter] public IEnumerable<TransacaoBD> Transacoes { get; set; }

    [Parameter] public bool BarraProgresso { get; set; }
    [Parameter] public EventCallback<bool> BarraProgressoChanged { get; set; }

    [Parameter] public string CultureInfoParameter { get; set; }

    private List<SaldoDias> SaldoTodosDias { get; set; } = new();

    // SALDO ATUAL DA CONTA
    private decimal Saldo { get; set; } = 0;

    // SOMATÓRIO RECEITAS
    private decimal Receitas30 { get; set; } = 0;

    // SOMATÓRIO DESPESAS
    private decimal Despesas30 { get; set; } = 0;

    // DATA DA TRANSAÇÃO MAIS ANTIGA
    public DateTime dataMinima;
    DateTime dateNow = DateTime.Today;

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if ( firstRender )
        {   
            StateHasChanged();
            // CALCULA TODAS AS TRANSAÇÕES
            ProcessamentoNoturno();
        }
    }

    private void ProcessamentoNoturno()
    {
        if (Transacoes.Count() > 0)
        {
            // DETERMINA A DATA MÍNIMA
            dataMinima = Transacoes.Min(Transacao => Transacao.Data);

            // PERCORRE TODOS OS DIAS (DESDE A DATA DA PRIMEIRA TRANSAÇÃO ATÉ A DATA DE HOJE)
            for (DateTime dia = dataMinima; dia <= dateNow.AddDays(1); dia = dia.AddDays(1))
            {
                // FILTRA PELAS TRANSAÇÕES DO DIA
                foreach (TransacaoBD transacao in Transacoes.Where(Transacao => Transacao.Data.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "") == dia.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "")).ToList())
                {
                    // SOMA OU SUBTRAI O SALDO A DEPENDER DO TIPO DE TRANSAÇÃO
                    Saldo += transacao.Tipo ? transacao.Valor : -transacao.Valor;

                    //VERIFICA SE A TRANSAÇÃO PERTENCE AO MES ATUAL, E A ADICIONA ÀS TRANSAÇÕES DOS ÚLTIMOS 30 DIAS
                    if (transacao.Data.Month == DateTime.Now.Month && transacao.Data.Year == DateTime.Now.Year)
                    {
                        Receitas30 += transacao.Tipo ? transacao.Valor : 0;
                        Despesas30 += transacao.Tipo ? 0 : transacao.Valor;
                    }
                }

                // ACRESCENTA O SALDO DO DIA EM QUESTÃO PARA O GRÁFICO
                SaldoTodosDias.Add(new SaldoDias { Dia = dia.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", ""), Saldo = Saldo });
            }
        }
        StateHasChanged();
        
    }

}
