@using FinançasPessoaisWebAPI.FrontEnd.Components.ContasPaineis
@using FinançasPessoaisWebAPI.FrontEnd.Components.Shared
@using FinançasPessoaisWebAPI.FrontEnd.Models
@using FinançasPessoaisWebAPI.FrontEnd.Helpers

@* CONTA *@
<MudItem xs="12" md="4">
    <MudPaper Elevation="25" Class="pa-0" Style="height: 60em; border-radius: 1em;">
        
        @* CABEÇALHO *@
        <MudContainer Class="pa-4 ma-0 d-flex">
            <MudIcon Icon=@AuxFunc.IconeConta(Conta) Style="font-size: 2rem;" />
            <MudText Class="ml-2" Typo="Typo.h5">@AuxFunc.NomeConta(Conta)</MudText>
        </MudContainer>
        
        @if (Transacoes.Count!=0)
        {
            @* SALDO ATUAL *@
            <MostradorSaldosConta CultureInfoParameter="@CultureInfo" @bind-BarraProgresso="@BarraProgresso" Transacoes="@(Transacoes.OrderByDescending(Transacao => Transacao.Data))" />
            @* ÚLTIMA TRANSAÇÕES *@
            <UltimasTransacoesConta CultureInfoParameter="@CultureInfo" @bind-BarraProgresso="@BarraProgresso" Transacoes="@(Transacoes.OrderByDescending(Transacao => Transacao.Data).Take(5))" Conta="@Conta" />
        }
        else
        {
            <NoTransactionWarning/>
        }

    </MudPaper>
</MudItem>

@code{
    [Parameter] public required List<TransacaoBD> Transacoes { get; set; }
    [Parameter] public int Conta { get; set; }
    
    [Parameter] public bool BarraProgresso { get; set; }
    [Parameter] public EventCallback<bool> BarraProgressoChanged { get; set; }

    [Parameter] public string CultureInfo { get; set; }
}