@using FinançasPessoaisWebAPI.FrontEnd.Models
@using FinançasPessoaisWebAPI.FrontEnd.Helpers

<MudContainer Class="px-4 pb-4 mb-3 mt-4 d-flex flex-column flex-grow-1" style="height: 33.8em;">
    <MudContainer Class="pa-0 ma-0 d-flex">
        <MudIcon Icon="@Icons.Material.Filled.FormatListNumbered" Style="font-size: 2rem;" />
        <MudText Class="ml-2" Typo="Typo.h6">Ultimas Transações</MudText>
    </MudContainer>

    @if (BarraProgresso)
    {
        <div style="padding-left: 3em; padding-right: 3em; height: 100%" Class="d-flex justify-center align-content-center align-center">
            <MudProgressCircular Color="MudBlazor.Color.Primary" Style="height:5em; width:5em;" Indeterminate="true" Class="my-4" />
        </div>
        <MudSpacer></MudSpacer>
    }
    else
    {
        @foreach (TransacaoBD transacao in Transacoes)
        {
            @* UNIDADE DE TRANSAÇÃO *@
            <MudContainer Class="pa-1 mt-2 d-flex align-center" style=@("border-radius: 8px; border-width: 1px; border-style: solid; border-color: " + AuxFunc.CorTransacaoString(transacao.Tipo) + ";")>

                @* ÍCONE *@
                <div>
                    <MudIcon Style=@("font-size: 2.5rem;") Color=@AuxFunc.CorTransacao(transacao.Tipo) Icon="@AuxFunc.IconeCategoria(transacao.Categoria)" Class="ml-4 mt-1" />
                </div>

                @* DESCRIÇÃO *@
                <MudContainer Class="d-flex flex-column flex-grow-1 pa-0 pl-4">

                    @* LINHA DE CIMA *@
                    <div Class="pa-0 d-flex ma-0">
                        @* TEXTO DESCRIÇÃO *@
                        <MudContainer Class="pa-0 d-flex">
                            <MudText Style=@("padding-top: 0.12em;") Color=@AuxFunc.CorTransacao(transacao.Tipo) Typo="Typo.body1"><b>@transacao.Descricao</b></MudText>
                            <MudSpacer></MudSpacer>
                            @* RECORRÊNCIA *@
                            @if (transacao.Recorrencia > 0)
                            {
                                <MudText Class="mt-1" Typo="Typo.body2" Color=@AuxFunc.CorTransacao(transacao.Tipo)>
                                    <b>
                                        <i style=@(transacao.Tipo ? "color: transparent; text-shadow: 0 0 0 var(--mud-palette-success);" : "color: transparent; text-shadow: 0 0 0 var(--mud-palette-error);")>
                                            @transacao.TextoChip
                                        </i>
                                    </b>
                                </MudText>
                                <MudIcon Class="ml-1 mr-1 mt-1" Icon="@Icons.Material.Filled.Autorenew" Color=@AuxFunc.CorTransacao(transacao.Tipo) Size="MudBlazor.Size.Small" />
                            }
                        </MudContainer>
                    </div>

                    @* LINHA DE BAIXO *@
                    <div Class="pa-0 d-flex ma-0">
                        @* VALOR *@
                        <div Class="pa-0">
                            <MudText Typo="Typo.h6" Color=@AuxFunc.CorTransacao(transacao.Tipo)><b>@AuxFunc.Valor(transacao.Valor, CultureInfoParameter)</b></MudText>
                        </div>

                        <MudSpacer />

                        @* DATA *@
                        <div Class="d-flex pa-0 mt-3 mr-2">
                            <MudText Typo="Typo.body2" Color=@AuxFunc.CorTransacao(transacao.Tipo)><b><i>@transacao.Data.ToString("dd/MM/yyyy")</i></b></MudText>
                        </div>

                    </div>

                </MudContainer>

            </MudContainer>
        }
    }

    
    <MudSpacer></MudSpacer>
    <MudButton Class="mt-2 " Href=@Endereco() Variant="MudBlazor.Variant.Filled" style="width: 100%;" DisableElevation="true" Color="MudBlazor.Color.Primary">MOSTRAR TODAS</MudButton>
</MudContainer>


@code{
    [Parameter] public int Conta { get; set; }
    [Parameter] public bool BarraProgresso { get; set; }
    [Parameter] public EventCallback<bool> BarraProgressoChanged { get; set; }
    [Parameter] public IEnumerable<TransacaoBD> Transacoes { get; set; }
    [Parameter] public string CultureInfoParameter { get; set; }

    public string Endereco ()
    {
        switch(Conta)
        {
            case 0:
            return "transactions/corrente";

            case 1:
            return "transactions/poupanca";

            case 2:
            return "transactions/carteira";

            default:
            return "transactions" ;
        }
    }

}