@inherits LayoutComponentBase
@using FinançasPessoaisWebAPI.FrontEnd.Components
@using FinançasPessoaisWebAPI.FrontEnd.Pages
@using FinançasPessoaisWebAPI.FrontEnd.Layout
@using FinançasPessoaisWebAPI.FrontEnd.Pages.Before_Login_Pages
@using FinançasPessoaisWebAPI.FrontEnd.Components.Product_Presentation_Layouts

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="MyCustomTheme"/>
<MudDialogProvider/>

<MudLayout>
    <Cabecalho/>

    @* CONTEÚDO DA PÁGINA *@
    <MudMainContent style="padding: 0;"  Class="d-flex align-content-center">
        <MudContainer Class="pa-0 mt-16" style=" width: 100vw; max-width: 100vw;">
            @Body
        </MudContainer>
    </MudMainContent>

    <Rodape/>
</MudLayout>

@code {


    private bool _isDarkMode;

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new PaletteLight()
        {
            Tertiary = MudBlazor.Colors.Shades.White,
        },
        PaletteDark = new PaletteDark()
        {
            Tertiary = MudBlazor.Colors.Shades.White,
        },

    };

}