@page "/contact"
@layout FinançasPessoaisWebAPI.FrontEnd.Layout.Product_Presentation_Layout
@using FinançasPessoaisWebAPI.FrontEnd.Layout
@using FinançasPessoaisWebAPI.FrontEnd.Components.Logotipos
@using System.Text.RegularExpressions
@using FinançasPessoaisWebAPI.FrontEnd.Components.Product_Presentation_Layouts

@* SEGURANÇA *@
<MudContainer Class="d-flex pa-0 mt-0 justify-center">
    <MudContainer Class="pa-5 rounded-xl">
        @* TOP *@
        <MudContainer Class="pa-0 d-flex align-center justify-space-between">

            @* DIREITA *@
            <MudContainer Class="pa-0 d-flex justify-center">
                <Home_Img11/>
            </MudContainer>

            @* ESQUERDA *@
            <MudContainer Class="pa-0">
                <MudText Typo="Typo.h4"><b>Não fale conosco</b></MudText>
                <MudText Typo="Typo.body1">Sinta-se livre para não entrar em contato.</MudText>

                <MudContainer Class="pa-0 mt-3 pr-16">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Nome</b></MudText>
                    <MudTextField T="string" Required="true" Placeholder="Fulano de Tal da Silva Beltrano"
                        RequiredError="Nasceu sem nome? Seu fela da fela!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />
                    
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Email</b></MudText>
                    <MudTextField T="string" Required="true" Placeholder="usuario_gostosao@email.com"
                        RequiredError="Como vamos retornar sem email? Seu burro!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />
                    
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Mensagem</b></MudText>
                    <MudTextField T="string" Required="true" Placeholder="Digite aqui o texto a ser ignorado"
                        RequiredError="Se não vai dizer nada, pode ir embora!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />

                    <MudButton Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" Class="mt-5 mb-5"
                            Href="dashboard" FullWidth="true" style="text-transform: unset;"><b>Enviar Mensagem</b></MudButton>
                </MudContainer>
            </MudContainer>

        </MudContainer>        
    </MudContainer>
</MudContainer>

@code {

}