@page "/pricing"
@layout FinançasPessoaisWebAPI.FrontEnd.Layout.Product_Presentation_Layout
@using FinançasPessoaisWebAPI.FrontEnd.Components
@using FinançasPessoaisWebAPI.FrontEnd.Components.Product_Presentation_Layouts
@using FinançasPessoaisWebAPI.FrontEnd.Components.Logotipos
@using System.Text.RegularExpressions


@* PREÇOS *@
<MudContainer Class="d-flex mt-13 pa-0 justify-center">

    <MudContainer Class="pa-0">
        @* TEXTOS *@
        <MudContainer Class="pa-0 d-flex flex-column align-center">
            <MudText Typo="Typo.h3"><b>Nossos Preços</b></MudText>
            <MudText Class="mt-2" Typo="Typo.body1">Prepare-se para o choque: Preços que farão seu bolso chorar!</MudText>
        </MudContainer>

        @* DEPOIMENTOS *@
        <MudContainer Class="d-flex justify-space-between flex-grow-1 pr-15 pl-15 mt-5 pb-0">
            @* BÁSICO *@
            <MudPaper Outlined="true" Class="pa-7 pr-15 d-flex flex-column align-center mt-5 mb-5 rounded-xl" style="right: -7em; position: relative; width: 30%; height: 23em;">
                <MudText Class="align-self-start" Typo="Typo.body1"><b>Básico</b></MudText>
                <MudContainer Class="d-flex pa-0 mt-3">
                    <MudText Class="mr-1 mt-1 align-self-start" Typo="Typo.h5"><sup><b>R$</b></sup></MudText>
                    <MudText Class="" Align="MudBlazor.Align.Center" Typo="Typo.h3"><b>99</b></MudText>
                    <MudText Class="ml-2 mt-1" Align="MudBlazor.Align.Center" Typo="Typo.h5"><sub>/mês</sub></MudText>
                </MudContainer>
                <MudText Class="mt-3" Typo="Typo.body1">Para pessoas com bastante dinheiro para dar para a gente sem nem pensar duas vezes.</MudText>
                <MudSpacer/>
                <MudButton Class="mt-5" Variant="MudBlazor.Variant.Outlined" DisableElevation="true" Color="MudBlazor.Color.Default" style="text-transform: unset; width: 100%;"><b>Começar com Básico</b></MudButton>
            </MudPaper>

            @* PROFISSIONAL *@
            <MudPaper Elevation="25" Class="pa-5  d-flex flex-column align-center rounded-xl z-30" style="width: 30%;">
                <MudChip Size="MudBlazor.Size.Small" Color="MudBlazor.Color.Primary" Class="align-self-end"><b>Mais Popular</b></MudChip>
                <MudText Class="align-self-start" Typo="Typo.body1"><b>Profissional</b></MudText>
                <MudContainer Class="d-flex pa-0 mt-3">
                    <MudText Class="mr-1 mt-1 align-self-start" Typo="Typo.h5"><sup><b>R$</b></sup></MudText>
                    <MudText Class="" Align="MudBlazor.Align.Center" Typo="Typo.h3"><b>199</b></MudText>
                    <MudText Class="ml-2 mt-1" Align="MudBlazor.Align.Center" Typo="Typo.h5"><sub>/mês</sub></MudText>
                </MudContainer>
                <MudText Class="mt-3" Typo="Typo.body1">Para pessoas que não ligam para quanto gastam e gostariam de se enganar mais um pouco.</MudText>
                <MudSpacer/>
                <MudButton Class="mt-5" Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" style="text-transform: unset; width: 100%;"><b>Começar com Profissional</b></MudButton>
            </MudPaper>

            @* EMPRESARIAL *@
            <MudPaper Outlined="true" Class="pa-7 pl-15 d-flex flex-column align-center mt-5 mb-5 rounded-xl" style="left: -7em; position: relative; width: 30%;">
                <MudText Class="align-self-start" Typo="Typo.body1"><b>Empresarial</b></MudText>
                <MudContainer Class="d-flex pa-0 mt-3">
                    <MudText Class="mr-1 mt-1 align-self-start" Typo="Typo.h5"><sup><b>R$</b></sup></MudText>
                    <MudText Class="" Align="MudBlazor.Align.Center" Typo="Typo.h3"><b>299</b></MudText>
                    <MudText Class="ml-2 mt-1" Align="MudBlazor.Align.Center" Typo="Typo.h5"><sub>/mês</sub></MudText>
                </MudContainer>
                <MudText Class="mt-3" Typo="Typo.body1">Para empresas que têm como objetivo falir o mais rápido possível.</MudText>
                <MudSpacer/>
                <MudButton Class="mt-5" Variant="MudBlazor.Variant.Outlined" DisableElevation="true" Color="MudBlazor.Color.Default" style="text-transform: unset; width: 100%;"><b>Começar com Empresarial</b></MudButton>
            </MudPaper>

        </MudContainer>

    </MudContainer>        

</MudContainer>

@* COMPARAÇÃO *@
<MudContainer Class="pa-0 mt-15">

    @* TEXTOS *@
    <MudContainer Class="pa-0 d-flex flex-column align-center">
        <MudText Typo="Typo.h4"><b>Compare os benefícios</b></MudText>
    </MudContainer>

    @* COMPARAÇÕES *@
    <MudContainer Class="pa-0 mt-5 d-flex flex-row ">

        <MudContainer style="width: 33%; max-width: 33%;" Class="d-flex flex-column gap-2 align-self-start">
            <MudText Typo="Typo.h5" Class="ml-5"><b>Básico</b></MudText>
            <MudDivider/>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Transforme moedas em notas com um clique."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Riqueza Instantânea</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Pareça que economiza sem realmente fazer isso."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Economizador de Fingimento</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Simule investimentos que nunca darão certo."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Investidor de Faz de Conta</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Aumente seu limite de crédito até o infinito."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Dívida Infinita</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Veja seu dinheiro crescer (só na tela)."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Poupança Ilusória</MudText></MudTooltip>
            </div>

        </MudContainer>

        <MudContainer style="width: 33%; max-width: 33%;" Class="d-flex flex-column gap-2 align-self-start">
            <MudText Typo="Typo.h5" Class="ml-5"><b>Profissional</b></MudText>
            <MudDivider/>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Transforme moedas em notas com um clique."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Riqueza Instantânea</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Pareça que economiza sem realmente fazer isso."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Economizador de Fingimento</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Simule investimentos que nunca darão certo."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Investidor de Faz de Conta</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Aumente seu limite de crédito até o infinito."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Dívida Infinita</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Veja seu dinheiro crescer (só na tela)."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Poupança Ilusória</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Planeje gastos que você sabe que não vai seguir."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Orçamento Otimista</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Notificações divertidas para cada novo empréstimo."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Alerta de Falência</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Brinque de planejar um futuro que nunca chegará."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Simulador de Aposentadoria</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Receba conselhos financeiros sempre equivocados."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Guru das Previsões Erradas</MudText></MudTooltip>
            </div>

        </MudContainer>

        <MudContainer style="width: 33%; max-width: 33%;" Class="d-flex flex-column gap-2 align-self-start">
            <MudText Typo="Typo.h5" Class="ml-5"><b>Empresarial</b></MudText>
            <MudDivider/>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Transforme moedas em notas com um clique."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Riqueza Instantânea</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Pareça que economiza sem realmente fazer isso."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Economizador de Fingimento</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Simule investimentos que nunca darão certo."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Investidor de Faz de Conta</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Aumente seu limite de crédito até o infinito."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Dívida Infinita</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Veja seu dinheiro crescer (só na tela)."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Poupança Ilusória</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Planeje gastos que você sabe que não vai seguir."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Orçamento Otimista</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Notificações divertidas para cada novo empréstimo."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Alerta de Falência</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Brinque de planejar um futuro que nunca chegará."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Simulador de Aposentadoria</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Receba conselhos financeiros sempre equivocados."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Guru das Previsões Erradas</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Nunca saiba o saldo até verificar."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Caixa de Surpresas</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Tente não gastar e falhe espetacularmente."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Desafio dos 30 Dias</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Viva como um rico em um mundo virtual."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Milionário de Mentira</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Descubra para onde foi o salário que acabou de entrar."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Detetive de Despesas</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Troque reais por bitcoins de brincadeira."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Conversor de Moedas Imaginárias</MudText></MudTooltip>
            </div>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="ml-5" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"/>
                <MudTooltip Arrow="true" Placement="Placement.Right" Text="Um assistente que zomba de suas escolhas financeiras."><MudText Typo="Typo.h6" Class="mt-1 ml-2">Banqueiro Virtual Irônico</MudText></MudTooltip>
            </div>

        </MudContainer>

    </MudContainer>

</MudContainer>

@* PERGUNTAS FREQUENTES *@
<MudContainer Class="d-flex mt-15 pa-0 justify-center">

    <MudContainer Class="pa-0 d-flex flex-column align-center">
        @* TEXTOS *@
        <MudContainer Class="pa-0 d-flex flex-column align-center">
            <MudText Typo="Typo.h4"><b>Perguntas Frequentes</b></MudText>
        </MudContainer>

        @* DEPOIMENTOS *@
        <MudExpansionPanels style="width: 50em;" Elevation="25">

            <MudExpansionPanel Class="ma-5 rounded-lg">
                <TitleContent>
                    <MudText><strong>O aplicativo realmente vai me ajudar a economizar dinheiro?</strong></MudText>
                </TitleContent>

                <ChildContent>
                    Claro, assim como prometer fazer dieta na segunda-feira realmente ajuda a perder peso.
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel Class="ma-5 rounded-lg">
                <TitleContent>
                    <MudText><strong>Posso confiar no aplicativo para gerenciar todas as minhas finanças?</strong></MudText>
                </TitleContent>

                <ChildContent>
                    Com certeza, da mesma forma que você confia em um político em época de eleição.
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel Class="ma-5 rounded-lg">
                <TitleContent>
                    <MudText><strong>O aplicativo é seguro?</strong></MudText>
                </TitleContent>

                <ChildContent>
                    Absolutamente, nossos servidores são tão seguros quanto um porquinho de barro em uma convenção de martelos.
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel Class="ma-5 rounded-lg">
                <TitleContent>
                    <MudText><strong>Vou ficar rico usando esse aplicativo?</strong></MudText>
                </TitleContent>

                <ChildContent>
                    Definitivamente, assim como você ficaria se investisse tudo em ações de empresas de discos voadores.
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel Class="ma-5 rounded-lg">
                <TitleContent>
                    <MudText><strong>Como o aplicativo lida com informações confidenciais?</strong></MudText>
                </TitleContent>

                <ChildContent>
                    Com o mesmo cuidado que um gato tem ao “guardar” um aquário cheio de peixes.
                </ChildContent>
            </MudExpansionPanel>

            <MudExpansionPanel Class="ma-5 rounded-lg">
                <TitleContent>
                    <MudText><strong>O aplicativo pode prever o mercado de ações?</strong></MudText>
                </TitleContent>

                <ChildContent>
                    Sim, com a precisão de um meteorologista prevendo o tempo para o próximo ano.
                </ChildContent>
            </MudExpansionPanel>

        </MudExpansionPanels>

    </MudContainer>        

</MudContainer>

@* BANNER FINAL *@
<MudContainer Class="d-flex pa-0 justify-center flex-column" style="margin-top: 15em;">

    <MudContainer Class="pa-0 d-flex justify-end" style="z-index: 3; position: relative; bottom: -25em; float: right;">
        
    </MudContainer>

    <MudPaper Elevation="25" Class="pa-5 rounded-xl" style="z-index: 2;">
        <MudContainer style="height: 19em;" Class="pa-0 d-flex align-center justify-space-between">
            <MudContainer Class="pl-5">
                <MudText Typo="Typo.h3"><b>Comece a usar LisoTracker hoje mesmo</b></MudText>
                <MudText Typo="Typo.h6">Comece otimizando seus gastos.</MudText>

                <MudContainer Class="pa-0 mt-3">
                    <MudButton Href="login" Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" style="text-transform: none;">Teste gratuitamente</MudButton>
                </MudContainer>

            </MudContainer>
            <MudContainer Class="pa-0" style="margin-bottom: 10em;">
                <Home_Img8/>
            </MudContainer>
        </MudContainer>        
    </MudPaper>

    <MudPaper Elevation="25"  Class="align-self-center rounded-xl" style="z-index: 1; height: 5em; width: 95%; top: -3em; position: relative; background-color: var(--mud-palette-background-grey);">
    </MudPaper>

</MudContainer>

@code {

}