﻿@page "/accounts"
@using FinançasPessoaisWebAPI.FrontEnd.Models
@using FinançasPessoaisWebAPI.FrontEnd.Helpers
@using FinançasPessoaisWebAPI.FrontEnd.Services
@inject TransactionService TransactionService
@using FinançasPessoaisWebAPI.FrontEnd.Layout
@using FinançasPessoaisWebAPI.FrontEnd.Components.ContasPaineis
@layout FinançasPessoaisWebAPI.FrontEnd.Layout.AfterLoginLayout
@using Microsoft.AspNetCore.Authorization
@inject SettingsService SettingsService

@attribute [Authorize]

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4"><b>Contas</b></MudText>

    <MudGrid>
        <PainelConta CultureInfo="@CultureInfo" @bind-BarraProgresso="@BarraProgresso" Conta="0" Transacoes="@Transacoes.Where(Transacao => Transacao.ContaId == 0).ToList()" />
        <PainelConta CultureInfo="@CultureInfo" @bind-BarraProgresso="@BarraProgresso" Conta="1" Transacoes="@Transacoes.Where(Transacao => Transacao.ContaId == 1).ToList()" />
        <PainelConta CultureInfo="@CultureInfo" @bind-BarraProgresso="@BarraProgresso" Conta="2" Transacoes="@Transacoes.Where(Transacao => Transacao.ContaId == 2).ToList()" />
    </MudGrid>
    
</MudContainer>

@code{

    // CONFIGURAÇÃO DE MOEDA
    private string CultureInfo { get; set; }

    // ATIVA / DESATIVA BARRAS DE PROGRESSO
    public bool BarraProgresso { get; set; } = true;

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            // PEGA TODOS OS DADOS DO SERVIDOR
            await AtualizaTabelaServidor();
        }
    }

    // AGRUPADOR DE FUNÇÕES RESPONSÁVEIS PELA ATUALIZAÇÃO DA TABELA
    private async Task AtualizaTabelaServidor()
    {
        // RECEBE AS CONFIGURAÇÕES
        CultureInfo = await SettingsService.GetCurrencyConfig();

        // ATIVA BARRA DE PROGRESSO
        BarraProgresso = true;

        TransacoesOV TraOV = new TransacoesOV(TransactionService);

        // RECEBE OS VALORES DO SERVIDOR
        Transacoes = await TraOV.TransacoesTotais();

        // DESATIVA BARRA DE PROGRESSO
        BarraProgresso = false;

        // ATUALIZA A TELA
        StateHasChanged();
    }

    // DADOS
    private List<TransacaoBD> Transacoes = new List<TransacaoBD>();

}