﻿@page "/dashboard"
@using System.Globalization
@using FinançasPessoaisWebAPI.FrontEnd.Layout
@using FinançasPessoaisWebAPI.FrontEnd.Components.DashboardPaineis
@layout FinançasPessoaisWebAPI.FrontEnd.Layout.AfterLoginLayout
@using Microsoft.AspNetCore.Authorization
@using FinançasPessoaisWebAPI.FrontEnd.Models
@using FinançasPessoaisWebAPI.FrontEnd.Helpers
@using FinançasPessoaisWebAPI.FrontEnd.Services
@inject TransactionService TransactionService
@inject SettingsService SettingsService
@attribute [Authorize]

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4"><b>Dashboard</b></MudText>
    <MudGrid>
        @* SALDO ATUAL *@
        <MudItem xs="12" sm="6" md="3">
            <MostradorSaldoAtual @bind-BarraProgresso=BarraProgresso @bind-SaldoTotal="@SaldoTotal" CultureInfoParameter="@CultureInfoParameter" />
        </MudItem>

        @* RECEITAS *@
        <MudItem xs="12" sm="6" md="3">
            <MostradorEntradas @bind-BarraProgresso=BarraProgresso @bind-Receitas="@Receitas30" @bind-ReceitasMesAnterior="@Receitas30ant" CultureInfoParameter="@CultureInfoParameter" />
        </MudItem>

        @* DESPESAS *@
        <MudItem xs="12" sm="6" md="3">
            <MostradorSaidas @bind-BarraProgresso=BarraProgresso @bind-Despesas="@Despesas30" @bind-DespesasMesAnterior="@Receitas30ant" CultureInfoParameter="@CultureInfoParameter" />
        </MudItem>

        @* ECONOMIAS *@
        <MudItem xs="12" sm="6" md="3">
            <MostradorDiferenca @bind-BarraProgresso=BarraProgresso Economias=@(Receitas30-Despesas30) EconomiasMesAnterior=@(Receitas30ant-Despesas30ant) CultureInfoParameter="@CultureInfoParameter" />
        </MudItem>

        @* EVOLUÇÃO DE SALDO *@
        <MudItem xs="12" sm="6" md="9">
            <GraficoEvolucaoSaldo @bind-BarraProgresso=BarraProgresso Saldos="@SaldoTodosDias" />
        </MudItem>

        @* ÚLTIMAS TRANSAÇÕES *@
        <MudItem xs="12" sm="6" md="3">
            <UltimasTransacoes @bind-BarraProgresso=BarraProgresso Transacoes="@(Transacoes.OrderByDescending(Transacao => Transacao.Data).Take(5))" CultureInfoParameter="@CultureInfoParameter" />
        </MudItem>
        
        @* MAIORES RECEITAS *@
        <MudItem xs="12" sm="6" md="6">
            <MaioresMovimentacoes @bind-BarraProgresso=BarraProgresso Tipo="true" ValorTotalCategoria=@MaioresReceitas />
        </MudItem>
        
        @* MAIORES DESPESAS *@
        <MudItem xs="12" sm="6" md="6">
            <MaioresMovimentacoes @bind-BarraProgresso=BarraProgresso Tipo="false" ValorTotalCategoria=@MaioresDespesas />
        </MudItem>
        
    </MudGrid>
</MudContainer>

@code{
    // ATIVA / DESATIVA BARRAS DE PROGRESSO
    public bool BarraProgresso { get; set; } = true;

    // SALDO ATUAL DA CONTA
    private decimal SaldoTotal {get; set;} = 0;

    // SOMATÓRIO RECEITAS DOS ÚLTIMOS 30 DIAS
    private decimal Receitas30 { get; set; } = 0;

    // SOMATÓRIO DESPESAS DOS ÚLTIMOS 30 DIAS
    private decimal Despesas30 { get; set; } = 0;

    // SOMATÓRIO RECEITAS DO MÊS ANTERIOR
    private decimal Receitas30ant { get; set; } = 0;

    // SOMATÓRIO DESPESAS DO MÊS ANTERIOR
    private decimal Despesas30ant { get; set; } = 0;

    // CONFIGURAÇÃO DE MOEDA
    private string CultureInfoParameter { get; set; }

    // DATA DA TRANSAÇÃO MAIS ANTIGA
    public DateTime dataMinima;
    DateTime dateNow = DateTime.Today;

    Dictionary<int, decimal> MaioresReceitas = new Dictionary<int, decimal>();
    Dictionary<int, decimal> MaioresDespesas = new Dictionary<int, decimal>();

    private List<SaldoDias> SaldoTodosDias { get; set; } = new();

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            // RECEBE AS CONFIGURAÇÕES
            CultureInfoParameter = await SettingsService.GetCurrencyConfig();

            // ATIVA AS BARRAS DE PROGRESSO
            BarraProgresso = true;

            // PEGA TODOS OS DADOS DO SERVIDOR
            TransacoesOV TraOV = new TransacoesOV(TransactionService);
            Transacoes.Clear();
            Transacoes = await TraOV.TransacoesTotais();

            // PERCORRE TODAS AS TRANSAÇÕES
            ProcessamentoNoturno();

            // DESATIVA AS BARRAS DE PROGRESSO
            BarraProgresso = false;

            // ATUALIZA PÁGINA
            StateHasChanged();
        }
    }


    // ---------------------------------- DADOS -----------------------------------------------

    private List<TransacaoBD> Transacoes = new List<TransacaoBD>();

    // REALIZA TODOS OS CÁLCULOS DE SALDO
    private void ProcessamentoNoturno()
    {
        if (Transacoes.Count() > 0)
        {
            // DETERMINA A DATA MÍNIMA
            dataMinima = Transacoes.Min(Transacao => Transacao.Data);

            // PERCORRE TODOS OS DIAS (DESDE A DATA DA PRIMEIRA TRANSAÇÃO ATÉ A DATA DE HOJE)
            for (DateTime dia = dataMinima; dia <= dateNow.AddDays(1); dia = dia.AddDays(1))
            {
                // FILTRA PELAS TRANSAÇÕES DO DIA
                foreach (TransacaoBD transacao in Transacoes.Where(Transacao => Transacao.Data.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "") == dia.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "")).ToList())
                {
                    // SOMA OU SUBTRAI O SALDO A DEPENDER DO TIPO DE TRANSAÇÃO
                    SaldoTotal += transacao.Tipo ? transacao.Valor : -transacao.Valor;

                    //VERIFICA SE A TRANSAÇÃO PERTENCE AO MES ATUAL, E A ADICIONA ÀS TRANSAÇÕES DOS ÚLTIMOS 30 DIAS
                    if (transacao.Data.Month == DateTime.Now.Month && transacao.Data.Year == DateTime.Now.Year)
                    {
                        Receitas30 += transacao.Tipo ? transacao.Valor : 0;
                        Despesas30 += transacao.Tipo ? 0 : transacao.Valor;

                        // ADICIONA A RECEITA OU DESPESA BASEADO NA CATEGORIA (GRÁFICO DE MAIORES MOVIMENTAÇÕES - RECEITAS | DESPESAS)
                        AdicionaMaioresReceitas(transacao);
                    }

                    //VERIFICA SE A TRANSAÇÃO PERTENCE AO MES PASSADO
                    if (transacao.Data.Month == DateTime.Now.AddMonths(-1).Month && transacao.Data.Year == DateTime.Now.Year)
                    {
                        Receitas30ant += transacao.Tipo ? transacao.Valor : 0;
                        Despesas30ant += transacao.Tipo ? 0 : transacao.Valor;
                    }




                }

                // ACRESCENTA O SALDO DO DIA EM QUESTÃO PARA O GRÁFICO
                SaldoTodosDias.Add(new SaldoDias { Dia = dia.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", ""), Saldo = SaldoTotal });
            }
        }


    }

    private void AdicionaMaioresReceitas(TransacaoBD transacao)
    {
        if (transacao.Tipo)
        {
            // VERIFICA SE HÁ CHAVE ASSOCIADA
            if (MaioresReceitas.ContainsKey(transacao.Categoria))
            {
                // SE TIVER, RECUPERA VALOR, INCREMENTA E SUBSTITUI
                MaioresReceitas[transacao.Categoria] = MaioresReceitas[transacao.Categoria] + transacao.Valor;
            }
            else
            {
                // SE NÃO TIVER, CRIAR
                MaioresReceitas.Add(transacao.Categoria, transacao.Valor);
            }
        }
        else
        {
            // VERIFICA SE HÁ CHAVE ASSOCIADA
            if (MaioresDespesas.ContainsKey(transacao.Categoria))
            {
                // SE TIVER, RECUPERA VALOR, INCREMENTA E SUBSTITUI
                MaioresDespesas[transacao.Categoria] = MaioresDespesas[transacao.Categoria] + transacao.Valor;
            }
            else
            {
                // SE NÃO TIVER, CRIAR
                MaioresDespesas.Add(transacao.Categoria, transacao.Valor);
            }
        }
        
    }
}