﻿@page "/personal"
@inject ISnackbar Snackbar
@using FinançasPessoaisWebAPI.FrontEnd.Components.Configuracoes
@layout FinançasPessoaisWebAPI.FrontEnd.Layout.AfterLoginLayout
@using Microsoft.AspNetCore.Authorization
@using FinançasPessoaisWebAPI.FrontEnd.Services
@inject AuthenticationService AuthenticationService

@attribute [Authorize]
<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    
    <MudText Typo="Typo.h4" Class="pb-4"><b>Pessoal</b></MudText>

    <MudContainer Class="d-flex">
  
        <MudPaper Class="d-flex flex-column pa-9" Width="30%" Outlined="true" Style="border-radius: 1em; border-top-right-radius:0; border-bottom-right-radius:0; border-right: none;">
            <MudContainer Class="d-flex justify-center">
                <MudAvatar Style="height:150px; width:150px; font-size:4rem; border: 1px solid var(--mud-palette-lines-default);">
                    <MudImage Src=@avatarUrl></MudImage>
                </MudAvatar>
            </MudContainer>

            <MudText Class="align-self-center" Typo="Typo.h6"><b>@userName</b></MudText>
            <MudText Class="align-self-center" Typo="Typo.body2">@email</MudText>

            <MudSpacer/>

            <MudText Class="mt-5 align-self-center" Typo="Typo.body2">Usuário desde: <b>15 de Setembro de 2024</b></MudText>            
        </MudPaper>

        <MudPaper Class="d-flex flex-column pl-0 pr-0" Width="70%" Height="60em" Outlined="true" Style="border-radius: 1em; border-top-left-radius:0; border-bottom-left-radius:0; ">
            <MudContainer Class="pl-8 pt-8 pb-5" style="background-color: var(--mud-palette-primary); border-top-left-radius: 0em; border-top-right-radius: 1em; ">
                <MudText style="color: white;" Typo="Typo.h5"><b>Editar Perfil</b></MudText>
            </MudContainer>

            <MudTabs Class="" Rounded="false" ApplyEffectsToContainer="true" PanelClass="pa-6" Color="MudBlazor.Color.Primary" TabHeaderClass="pl-5">
                <MudTabPanel style="text-transform: unset;" Icon="@Icons.Material.Filled.ManageAccounts" Text="Informações de Usuário">
                    <UserInfo/>
                </MudTabPanel>
                <MudTabPanel style="text-transform: unset;" Icon="@Icons.Material.Filled.AccountBalance" Text="Informações Bancárias">
                    <BankInfo/>
                </MudTabPanel>
            </MudTabs>

        </MudPaper>

    </MudContainer>


</MudContainer>

@code {
    // URL DO AVATAR NO GRAVATAR
    private string avatarUrl;

    // EMAIL DO USUÁRIO
    private string email;

    // NOME DO USUÁRIO
    public string userName;

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            avatarUrl = await AuthenticationService.GetAvatarFromGravatar();
            email = await AuthenticationService.GetUserEmail();
            userName = await AuthenticationService.GetUserName();

            StateHasChanged();
        }
    }


}