﻿@page "/settings"
@using FinançasPessoaisWebAPI.FrontEnd.Layout
@layout FinançasPessoaisWebAPI.FrontEnd.Layout.AfterLoginLayout
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject SettingsService SettingsService
@using FinançasPessoaisWebAPI.FrontEnd.Services
@using System.Globalization;

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4"><b>Configurações</b></MudText>

    <MudExpansionPanels Elevation="0">

        @* CONFIGURAÇÕES DE PERFIL *@
        <MudExpansionPanel style="border: 1px solid var(--mud-palette-lines-default); border-radius: 1em; margin-top: 1em;">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Person" class="mr-3"></MudIcon>
                    <MudText><b>Perfil</b></MudText>
                </div>
            </TitleContent>
            <ChildContent>

                @* FOTO DE PERFIL DO GRAVATAR | OU INICIAL *@
                <MudContainer Class="pa-0" style="max-width: unset;">
                    <MudText Typo="Typo.body1">Utilizar foto de perfil do Gravatar</MudText>
                    <MudSwitch @bind-Value="@avatar" Color="MudBlazor.Color.Primary">@(avatar ? "Gravatar" : "Letra Inicial")</MudSwitch>
                </MudContainer>
                
            </ChildContent>
        </MudExpansionPanel>

        @* CONFIGURAÇÕES DE VALORES *@
        <MudExpansionPanel style="border: 1px solid var(--mud-palette-lines-default); border-radius: 1em; margin-top: 1em;">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.AttachMoney" class="mr-3"></MudIcon>
                    <MudText><b>Valores Monetários</b></MudText>
                </div>
            </TitleContent>
            <ChildContent>

                @* MOSTRAR/OCULTAR VALOR PATRIMONIAL NO DASHBOARD *@
                <MudContainer Class="pa-0" style="max-width: unset;">
                    <MudText Typo="Typo.body1">Mostrar botão de ocultar valor patrimonial no Dashboard</MudText>
                    <MudSwitch @bind-Value="@avatar" Color="MudBlazor.Color.Primary">@(avatar ? "Mostrar" : "Ocultar")</MudSwitch>
                </MudContainer>

                @* MOEDA UTILIZADA *@
                <MudContainer Class="pa-0" style="max-width: unset;">
                    <MudText Typo="Typo.body1">Moeda utilizada</MudText>
                    <MudSelect SelectedValuesChanged="AlteraMoedaConfig" T="string" @bind-Value="@CultureInfoParameter" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        @foreach (CultureInfo culture in cultures)
                        {
                            <MudSelectItem Value=@(culture.Name)>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudText Class="ml-2">@culture.Name</MudText>
                                </MudContainer>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudContainer>

            </ChildContent>
        </MudExpansionPanel>

        @* CONFIGURAÇÕES DE APLICAÇÃO *@
        <MudExpansionPanel style="border: 1px solid var(--mud-palette-lines-default); border-radius: 1em; margin-top: 1em;">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Api" class="mr-3"></MudIcon>
                    <MudText><b>Aplicação</b></MudText>
                </div>
            </TitleContent>
            <ChildContent>

                @* TEMA ESCURO *@
                <MudContainer Class="pa-0" style="max-width: unset;">
                    <MudText Typo="Typo.body1">Utilizar tema escuro do computador</MudText>
                    <MudSwitch @bind-Value="@avatar" Color="MudBlazor.Color.Primary">@(avatar ? "Receber do computador" : "Ajuste Manual")</MudSwitch>
                </MudContainer>

            </ChildContent>
        </MudExpansionPanel>

    </MudExpansionPanels>

</MudContainer>

@code{
    public bool avatar { get; set; } = true;

    // Obtém todos os CultureInfo disponíveis
    public CultureInfo[] cultures = CultureInfo.GetCultures(CultureTypes.AllCultures);

    // CONFIGURAÇÃO DE MOEDA
    private string CultureInfoParameter { get; set; }

    private async void AlteraMoedaConfig()
    {
        await SettingsService.SetCurrencyConfig(CultureInfoParameter);
    }


    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            // RECUPERA TODAS AS CONFIGURAÇÕES
            CultureInfoParameter = await SettingsService.GetCurrencyConfig();

            // Obtém todos os CultureInfo disponíveis
            CultureInfo[] cultures = CultureInfo.GetCultures(CultureTypes.AllCultures);

            //Avatar ...
        }
    }
}