﻿@page "/transactions"
@page "/transactions/corrente"
@page "/transactions/poupanca"
@page "/transactions/carteira"
@using FinançasPessoaisWebAPI.FrontEnd.Layout
@inject IDialogService DialogService
@inject NavigationManager Navigator
@layout FinançasPessoaisWebAPI.FrontEnd.Layout.AfterLoginLayout
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using FinançasPessoaisWebAPI.FrontEnd.Components.After_Login_Layouts
@using FinançasPessoaisWebAPI.FrontEnd.Services
@inject TransactionService TransactionService
@using FinançasPessoaisWebAPI.FrontEnd.Helpers
@inject SettingsService SettingsService

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4">
        <b>Transações</b>
    </MudText>

    @if(Conta != 5)
    {
        <TabelaTransacao @bind-Conta=@Conta CultureInfoParameter="@CultureInfoParameter" />
    }
    

</MudContainer>

@code {
    // CONFIGURAÇÃO DE MOEDA
    private string CultureInfoParameter { get; set; }

    // VARIÁVEL QUE IRÁ DETERMINAR O FILTRO NA LISTA TRANSACTION
    public int Conta = 5;

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if ( firstRender )
        {   
            // RECEBE AS CONFIGURAÇÕES
            CultureInfoParameter = await SettingsService.GetCurrencyConfig();

            // DETERMINA QUAL FILTRO SERÁ UTILIZADO BASEADO NA URL
            if(Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "transactions")
            {
                Conta = 0;
            }

            if(Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "transactions/corrente")
            {
                Conta = 1;
            }

            if(Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "transactions/poupanca")
            {
                Conta = 2;
            }

            if(Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "transactions/carteira")
            {
                Conta = 3;
            }

            StateHasChanged();
        }
    }
}
