<MudDialog>
    <DialogContent>

        <MudText Typo="Typo.body1"><b>Não é possível alterar ou deletar transações feitas a partir de recorrência.</b></MudText>

        <MudText Class="mt-3" Typo="Typo.body2">Por favor, faça alterações apenas na transação original que não possui o badge de recorrência:</MudText>

        <div Class="d-flex align-self-center justify-center"><MudBadge Icon="@Icons.Material.Filled.Autorenew" Color="MudBlazor.Color.Primary" Origin="Origin.CenterLeft" Class="pl-3"><MudText Typo="Typo.body2"><b>Transação Recorrente</b></MudText></MudBadge></div>
        
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Primary" OnClick="Submit"><b>ENTENDI</b></MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    void Submit() => MudDialog.Close(DialogResult.Ok(true));
}