@inject HttpClient Http
@using System.Net.Http.Json
@using FinançasPessoaisWebAPI.FrontEnd.Models;
@using FinançasPessoaisWebAPI.FrontEnd.Services
@inject TransactionService TransactionService
@inject ISnackbar Snackbar

<MudDialog ClassContent="pa-0" ClassActions="pa-5" TitleClass="pa-2">

    @* TÍTULO *@
    <TitleContent>
        <MudContainer Class="d-flex pa-0 ma-0 justify-end flex-grow-1">
            <MudContainer Class="d-flex pa-0 ma-0 pt-3 pl-3">
                <MudIcon Color="MudBlazor.Color.Surface" Icon="@Icons.Material.Filled.Delete" Size="MudBlazor.Size.Large" />
                <MudText Color="MudBlazor.Color.Surface" Typo="Typo.h6" Class="pt-1 pl-2"><b>Excluir Transação</b></MudText>
            </MudContainer>
        </MudContainer>
    </TitleContent>

    <DialogContent>
        <MudContainer Class="pb-10 pt-6">
            <MudText Typo="Typo.h5">Tem certeza que deseja excluir a transação? Este processo não pode ser desfeito.</MudText>
        </MudContainer>
        <MudProgressLinear Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small" @bind-Indeterminate=ProgressBar />
    </DialogContent>

    @* BOTÕES *@
    <DialogActions>
        <MudButton OnClick="Cancel"><b>Cancelar</b></MudButton>
        <MudButton @ref="submitBtn" Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Error" OnClick="Submit"><b>Excluir</b></MudButton>
    </DialogActions>

</MudDialog>


@code {
    @using System.Globalization
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }

    [Parameter] public int TransaID { get; set; }

    // INSTÂNCIA DO BOTÃO SUBMIT
    private MudButton submitBtn;


    // BARRA DE PROGRESSO
    bool ProgressBar = false;

    // ENVIAR - REQUISIÇÃO API
    private async Task Submit()
    {
        // DESABILITA O BOTÃO SUBMIT PARA EVITAR VÁRIAS REQUISIÇÕES
        submitBtn.Disabled = true;

        // ATIVA A BARRA DE PROGRESSO
        ProgressBar = true;

        // REQUISIÇÃO DA API DE TRANSAÇÃO
        if (await TransactionService.DeletarTransacao(TransaID) == true)
        {
            // DESATIVA A BARRA DE PROGRESSO
            ProgressBar = false;

            // FECHA O DIÁLOGO
            MudDialog?.Close(DialogResult.Ok(true));
        }
        else
        {
            // DESATIVA A BARRA DE PROGRESSO
            ProgressBar = false;

            // MENSAGEM DE ERRO
            Snackbar.Clear();
            Snackbar.Add("Erro ao deletar transação!", Severity.Error);
        }
    }

    void Cancel() => MudDialog?.Cancel();

}