@inject HttpClient Http
@using System.Net.Http.Json
@using FinançasPessoaisWebAPI.FrontEnd.Models;
@using FinançasPessoaisWebAPI.FrontEnd.Services
@inject TransactionService TransactionService
@inject ISnackbar Snackbar
@using FinançasPessoaisWebAPI.FrontEnd.Helpers

<MudDialog ClassContent="pa-0" ClassActions="pa-5" TitleClass="pa-2">

    @* TÍTULO *@
    <TitleContent>
        <MudContainer Class="d-flex pa-0 ma-0 justify-end flex-grow-1">

            @* TÍTULO *@
            <MudContainer Class="d-flex pa-0 ma-0 pt-3 pl-3">
                <MudIcon Color="MudBlazor.Color.Surface" Icon="@Icons.Material.Filled.AddCircleOutline" Size="MudBlazor.Size.Large" />
                <MudText Color="MudBlazor.Color.Surface" Typo="Typo.h6" Class="pt-1 pl-2"><b>Nova Transação</b></MudText>
            </MudContainer>
            
            @* TIPO DE TRANSAÇÃO *@
            <MudSwitch ThumbIcon="Icons.Material.Filled.AttachMoney"
                       ThumbIconColor="MudBlazor.Color.Success"
                       @ref="TipoSwitcher"
                       Class="flex-grow-1 pa-0 mr-1 ma-0 mt-1"
                       style="margin-inline-end: 0; margin-right: 0;"
                       @bind-Value="@Tipo_Switch"
                       LabelPosition="MudBlazor.LabelPosition.Start"
                       @onclick="alteraCategoria"
                       Size="MudBlazor.Size.Large">
                <b>@(Tipo_Switch == true ? "Receita" : "Despesa")</b>
            </MudSwitch>

        </MudContainer>
    </TitleContent>

    @* CONTEÚDO *@
    <DialogContent>
        <MudContainer Class="pa-5 pb-7" style=@(Tipo_Switch == true ? "border-top: 3px solid var(--mud-palette-success);" : "border-top: 3px solid var(--mud-palette-error);") Outlined="true">

            @* DESCRIÇÃO *@
            <MudContainer Class="pa-0">
                <MudText Typo="Typo.h6" Class="pa-0"><b>Descrição</b></MudText>
                <MudTextField @bind-Value="Descricao" RequiredError="Digite uma descrição para a transação" Required="true" Variant="MudBlazor.Variant.Outlined"></MudTextField>
            </MudContainer>

            @* VALOR | DATA *@
            <MudContainer Class="d-flex pa-0 gap-5">
                @* VALOR DA TRANSAÇÃO *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Valor</b></MudText>
                    <MudTextField @bind-Value="Valor" Required="true" RequiredError="Informe o valor para a transação" Variant="MudBlazor.Variant.Outlined" Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
                </MudContainer>

                @* DATA DA TRANSAÇÃO *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Data</b></MudText>
                    <MudTextField @bind-Value="Data" T="DateTime" Variant="MudBlazor.Variant.Outlined" Format="yyyy-MM-dd" Required="true" RequiredError="Selecione uma data para a transação" InputType="InputType.Date" />
                </MudContainer>
            </MudContainer>

            @* CONTA | CATEGORIA *@
            <MudContainer Class="d-flex pa-0 gap-5">

                @* CONTA USADA *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Conta Usada</b></MudText>
                    <MudSelect T="string" @bind-Value="@ContaId" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">

                        <MudSelectItem Value=@("ContaCorrente")>
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Conta Corrente</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value=@("Poupanca")>
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.Savings" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Poupança</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value=@("Carteira")>
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.Wallet" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Carteira</MudText>
                            </MudContainer>
                        </MudSelectItem>

                    </MudSelect>
                </MudContainer>

                @* CATEGORIA DA TRANSAÇÃO *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Categoria</b></MudText>
                    <MudSelect T="string" @bind-Value="@Categoria" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">

                        @if (Tipo_Switch)
                        {
                            <MudSelectItem Value=@("Salário")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(1)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(1)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value=@("Benefícios")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(2)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(2)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value=@("Vendas")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(3)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(3)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value=@("Economias")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(4)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(4)</MudText>
                                </MudContainer>
                            </MudSelectItem>


                            <MudSelectItem Value=@("Outros")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(5)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(5)</MudText>
                                </MudContainer>
                            </MudSelectItem>
                        }
                        else
                        {
                            <MudSelectItem Value=@("Saúde")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(6)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(6)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value=@("Aluguel")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(7)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(7)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value=@("Educação")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(8)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(8)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value=@("Lazer")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(9)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(9)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value=@("Alimentação")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(10)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(10)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value=@("DespesasPessoais")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(11)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(11)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value=@("Outros")>
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@AuxFunc.IconeCategoria(5)" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">@AuxFunc.CategoriaTexto(5)</MudText>
                                </MudContainer>
                            </MudSelectItem>

                        }

                    </MudSelect>
                </MudContainer>

            </MudContainer>

            @* RECORRÊNCIA *@
            <MudContainer Class="d-flex pa-0 gap-5">

                @* FREQUÊNCIA DE RECORRÊNCIA *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Recorrência</b></MudText>
                    <MudSelect T="int" @bind-Value="@Frequencia_Duracao" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="0">Nunca</MudSelectItem>
                        <MudSelectItem Value="1">Diariamente</MudSelectItem>
                        <MudSelectItem Value="2">Semanalmente</MudSelectItem>
                        <MudSelectItem Value="3">Mensalmente</MudSelectItem>
                        <MudSelectItem Value="4">Anualmente</MudSelectItem>
                    </MudSelect>
                </MudContainer>

            </MudContainer>

            @* OPÇÕES EXTRAS RECORRÊNCIA *@
            <MudContainer Class="d-flex pa-0 gap-5" hidden=@(Frequencia_Duracao > 0 ? false : true)>

                @* REGRA DE DURAÇÃO *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.body1" Class="pt-5"><b>Regra de Duração</b></MudText>
                    <MudSelect T="int" @bind-Value="@Regra_Duracao" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="0">Indefinidamente</MudSelectItem>
                        <MudSelectItem Value="1">Até a data</MudSelectItem>
                        <MudSelectItem Value="2">Número de vezes</MudSelectItem>
                    </MudSelect>
                </MudContainer>

                @* CONFIGURAÇÃO DE DURAÇÃO *@
                <MudContainer Class="pa-0" hidden=@(Regra_Duracao==1 ? false : true)>
                    <MudText Typo="Typo.body1" Class="pt-5"><b>Até a data </b></MudText>
                    <MudTextField @bind-Value="Recorrencia_Data_Limite" T="DateTime" Variant="MudBlazor.Variant.Outlined" Required="true" RequiredError="Informe a data limite para recorrência" Format="yyyy-MM-dd" InputType="InputType.Date" />
                </MudContainer>

                <MudContainer Class="pa-0" hidden=@(Regra_Duracao==2 ? false : true)>
                    <MudText Typo="Typo.body1" Class="pt-5"><b>Número de Vezes </b></MudText>
                    <MudNumericField @bind-Value="N_vezes_recorrencia" Variant="MudBlazor.Variant.Outlined" Min="2" />
                </MudContainer>

            </MudContainer>

        </MudContainer>
        <MudProgressLinear Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small" @bind-Indeterminate=ProgressBar />
    </DialogContent>

    @* BOTÕES *@
    <DialogActions>
        <MudButton OnClick="Cancel"><b>Cancelar</b></MudButton>
        <MudButton @ref="submitBtn" Disabled=@(Descricao != "" && Valor>0 ? false : true) Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" OnClick="Submit"><b>Criar Transação</b></MudButton>
    </DialogActions>

</MudDialog>


@code {
    @using System.Globalization
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }

    public CultureInfo _de = CultureInfo.GetCultureInfo("pt-BR");
    public IMask mask1 = new RegexMask(@"(\d)(?=(\d{3})+(?!\d))");

    // INSTÂNCIA DO BOTÃO SUBMIT
    private MudButton submitBtn;

    // BARRA DE PROGRESSO
    bool ProgressBar = false;

    // VALOR
    public decimal Valor { get; set; } = 0;

    // DESCRIÇÃO
    public string Descricao { get; set; } = "";

    // DATA
    public DateTime Data { get; set; } = DateTime.Now;



    // ID CONTA
    public string ContaId { get; set; } = "ContaCorrente";

    // TIPO
    bool Tipo_Switch = true;

    private MudSwitch<bool> TipoSwitcher;

    // CATEGORIA
    public string Categoria { get; set; } = "Salário";

    // CATEGORIA
    public string CategoriaOld { get; set; }

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            TipoSwitcher.ThumbIcon = Icons.Material.Filled.AttachMoney;
            TipoSwitcher.ThumbIconColor = MudBlazor.Color.Success;

            // ATUALIZA PÁGINA
            StateHasChanged();
        }
    }

    // FUNÇÃO QUE DEFINE O VALOR DE CATEGORIA SEMPRE QUE É TROCADO O TIPO
    public void alteraCategoria()
    {
        Tipo_Switch = !Tipo_Switch;
        if (Tipo_Switch)
        {
            TipoSwitcher.ThumbIcon = Icons.Material.Filled.AttachMoney;
            TipoSwitcher.ThumbIconColor = MudBlazor.Color.Success;
        }
        else
        {
            TipoSwitcher.ThumbIcon = Icons.Material.Filled.MoneyOff;
            TipoSwitcher.ThumbIconColor = MudBlazor.Color.Error;
        }

        if (CategoriaOld == null)
        {
            CategoriaOld = Categoria;
            Categoria = "Saúde";
        }
        else
        {
            var temp = Categoria;
            Categoria = CategoriaOld;
            CategoriaOld = temp;
        }
        StateHasChanged();
    }

    // FREQUENCIA DE RECORRÊNCIA
    public int Frequencia_Duracao { get; set; } = 0;

    // MODO DE RECORRÊNCIA
    public int Regra_Duracao { get; set; } = 0;

    // NÚMERO DE VEZES QUE A RECORRÊNCIA SE REPETE (ÚTIL A DEPENDER DO MODO ESCOLHIDO)
    public int N_vezes_recorrencia { get; set; } = 2;

    // DATA LIMITE DE REPETIÇÃO DE RECORRÊNCIA (ÚTIL A DEPENDER DO MODO ESCOLHIDO)
    public DateTime Recorrencia_Data_Limite { get; set; } = DateTime.Now;

    // CANCELAR
    void Cancel() => MudDialog?.Close(DialogResult.Cancel());

    // ENVIAR - REQUISIÇÃO API
    private async Task Submit()
    {
        // DESABILITA O BOTÃO SUBMIT PARA EVITAR VÁRIAS REQUISIÇÕES
        submitBtn.Disabled = true;

        // ATIVA A BARRA DE PROGRESSO
        ProgressBar = true;

        // CRIA OBJETO 'TRANSAÇÃO'
        var transacao = new TransacaoDTO(Valor, Descricao, Data, Frequencia_Duracao, Regra_Duracao, N_vezes_recorrencia, Recorrencia_Data_Limite);

        // REQUISIÇÃO DA API DE TRANSAÇÃO
        if (await TransactionService.CriarTransacao(Tipo_Switch, Categoria, ContaId, transacao) == true)
        {
            // DESATIVA A BARRA DE PROGRESSO
            ProgressBar = false;

            // FECHA O DIÁLOGO
            MudDialog?.Close(DialogResult.Ok(true));
        }
        else
        {
            // DESATIVA A BARRA DE PROGRESSO
            ProgressBar = false;

            // MENSAGEM DE ERRO
            Snackbar.Clear();
            Snackbar.Add("Erro ao criar transação!", Severity.Error);
        }
    }


}