@inject HttpClient Http
@using System.Net.Http.Json
@using FinançasPessoaisWebAPI.FrontEnd.Helpers

<MudCarouselItem Class="pa-5" Transition="@Transition.Slide">
    <MudText Typo="Typo.h4" Class="pt-0"><b>Criar uma conta</b></MudText>
    <MudText Typo="Typo.caption" Class="pb-4">Já tem uma conta? <MudLink Color="MudBlazor.Color.Primary"
        Typo="Typo.caption"
        OnClick="@(()=>Carousel.MoveTo(0))"
        Class="mt-6"><b>Entre agora!</b></MudLink>
    </MudText>

    <MudForm>
        @* NOME *@
        <MudText Typo="Typo.h6" Class="pt-5"><b>Nome</b></MudText>
        <MudTextField @bind-Value="Nome_Create" Immediate="true" T="string" Required="true" Placeholder="Fulano de Tal Beltrano da Silva"
            RequiredError="Precisamos do seu nome" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />

        @* EMAIL *@
        <MudText Typo="Typo.h6" Class="pt-5"><b>Email</b></MudText>
        <MudTextField @bind-Value="Email_Create" Immediate="true" T="string" Required="true" Placeholder="usuario_gostosao@email.com"
            RequiredError="Precisamos do seu email" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />

        @* SENHA *@
        <MudText Typo="Typo.h6" Class="pt-5"><b>Senha</b></MudText>
        <MudTooltip ShowOnFocus="true" ShowOnHover="false" Placement="Placement.Left" Arrow="true" Color="MudBlazor.Color.Tertiary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <ChildContent>
                <MudTextField Class="d-flex mt-0 pt-0" @bind-Value="Password_Create" Required="true" RequiredError="Crie uma senha" Variant="MudBlazor.Variant.Outlined" Placeholder="seunome@123" InputType="@PasswordInput_Create"
                    Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon_Create" OnAdornmentClick="MostrarSenha_Create" style="width: 22.5em;"
                    @onkeydown="VerificarSenha"
                    @oninput="VerificarSenha"
                    @onkeypress="VerificarSenha"
                    @onkeyup="VerificarSenha"
                    Immediate="true"
                    AdornmentAriaLabel="Show Password" />
            </ChildContent>

            <TooltipContent>
                <MudContainer Class="px-2 py-2 d-flex flex-column gap-1" >

                        <MudContainer Class="pa-0 d-flex justify-start" >
                            <MudIcon Size="MudBlazor.Size.Small" Icon=@(requisito1 ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Cancel) Color=@(requisito1 ? MudBlazor.Color.Success : MudBlazor.Color.Error) />
                            <MudText Color="MudBlazor.Color.Dark" Class="ml-1 pt-0" Typo="Typo.body2"><b>Mais que 10 caracteres</b></MudText>
                        </MudContainer>

                        <MudContainer Class="pa-0 d-flex justify-start" >
                            <MudIcon Size="MudBlazor.Size.Small" Icon=@(requisito2 ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Cancel) Color=@(requisito2 ? MudBlazor.Color.Success : MudBlazor.Color.Error)/>
                            <MudText Color="MudBlazor.Color.Dark" Class="ml-1 pt-0" Typo="Typo.body2"><b>Letra maiúscula</b></MudText>
                        </MudContainer>

                        <MudContainer Class="pa-0 d-flex justify-start" >
                            <MudIcon Size="MudBlazor.Size.Small" Icon=@(requisito3 ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Cancel) Color=@(requisito3 ? MudBlazor.Color.Success : MudBlazor.Color.Error)/>
                            <MudText Color="MudBlazor.Color.Dark" Class="ml-1 pt-0" Typo="Typo.body2"><b>Número</b></MudText>
                        </MudContainer>

                        <MudContainer Class="pa-0 d-flex justify-start" >
                            <MudIcon Size="MudBlazor.Size.Small" Icon=@(requisito4 ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Cancel) Color=@(requisito4 ? MudBlazor.Color.Success : MudBlazor.Color.Error)/>
                            <MudText Color="MudBlazor.Color.Dark" Class="ml-1 pt-0" Typo="Typo.body2"><b>Caractere especial</b></MudText>
                        </MudContainer>

                </MudContainer>
            </TooltipContent>

        </MudTooltip>
        
        @* CRIAR *@
        <MudButton OnClick="() => CriarBTN()" Disabled="@((Nome_Create == null) || (Nome_Create == "") || (Email_Create == null) || (Email_Create == "") || (requisito1 == false) || (requisito2 == false) || (requisito3 == false) || (requisito4 == false) ? true : false)" Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" Class="mt-5 mb-5" Size="MudBlazor.Size.Large" FullWidth="true">
            <b>Criar conta</b>
        </MudButton>
    </MudForm>

    @if (Erro_Create)
    {
        <MudAlert Severity="Severity.Error" Variant="MudBlazor.Variant.Filled">Erro ao criar usuário, verifique o email fornecido!</MudAlert>
    }

    @if (ErroEmail_Create)
    {
        <MudAlert Severity="Severity.Error" Variant="MudBlazor.Variant.Filled">Email inválido!</MudAlert>
    }
    
</MudCarouselItem>

@code{
    // RECEBE O CARROSSEL VIA PARÂMETRO
    [Parameter] public MudCarousel<object> Carousel { get; set; }
    [Parameter] public EventCallback<MudBlazor.MudCarousel<object>> CarouselChanged { get; set; }

    [Parameter] public bool ProgressBool { get; set; }
    [Parameter] public EventCallback<bool> ProgressBoolChanged { get; set; }

    private async Task ToggleProgressBool()
    {
        ProgressBool = !ProgressBool;
        await ProgressBoolChanged.InvokeAsync(ProgressBool);
    }

    // CRIAR USUÁRIO -------------------------------------------------------------------
        public string? Nome_Create { get; set; }
        public string? Email_Create { get; set; }
        public string? Password_Create { get; set; }
        bool isShow_Create;
        InputType PasswordInput_Create = InputType.Password;
        string PasswordInputIcon_Create = Icons.Material.Filled.VisibilityOff;
        void MostrarSenha_Create()
        {

            @if (isShow_Create)
            {
                isShow_Create = false;
                PasswordInputIcon_Create = Icons.Material.Filled.VisibilityOff;
                PasswordInput_Create = InputType.Password;
            }

            else
            {
                isShow_Create = true;
                PasswordInputIcon_Create = Icons.Material.Filled.Visibility;
                PasswordInput_Create = InputType.Text;
        }

    }

    // VERIFICAÇÃO DE LOGIN (EFETUADA COM O BOBTÃO 'CRIAR CONTA')
    private async Task CriarBTN()
    {   
        await ToggleProgressBool();

        // RESETA TODOS OS ERROS PARA NÃO ACUMULAREM VISUALMENTE
        Erro_Create = false;
        ErroEmail_Create = false;

        // VALIDAR FORMATO DO EMAIL
        if(AuxFunc.ValidarEmail(Email_Create) == false)
        {
            ErroEmail_Create = true;
        }
        else
        {
            // REQUISIÇÃO VIA API
            await HandleSubmit(Nome_Create, Email_Create, Password_Create);
        }

    }

    // ALERTAS DE ERRO
    public bool Erro_Create { get; set; } = false;
    public bool ErroEmail_Create { get; set; } = false;

    // VERIFICA SE A ASENHA ATENDE AOS REQUISITOS MÍNIMOS
    public bool requisito1 { get; set; } = false;
    public bool requisito2 { get; set; } = false;
    public bool requisito3 { get; set; } = false;
    public bool requisito4 { get; set; } = false;

    // VALIDA A DIFICULDADE DA SENHA
    public void VerificarSenha()
    {   
        if(Password_Create == null)
        {
            requisito1 = false;
            requisito2 = false;
            requisito3 = false;
            requisito4 = false;
        }else{
            // Maior que 8 caracteres
            requisito1 = Password_Create.Length >= 10 ? true : false;
            // Letra maiuscula
            requisito2 = Password_Create.Any(char.IsUpper) ? true : false;
            // Um número
            requisito3 = Password_Create.Any(char.IsDigit) ? true : false;
            // Possui caracteres especiais
            requisito4 = AuxFunc.HasSpecialChars(Password_Create) ? true : false;
        }
    }

    // ALGORITMO PARA 'CRIAR USUÁRIO' API
    private string response;

    // REQUISIÇÃO API
    private async Task HandleSubmit(string nome, string email, string senha)
    {
        // ATIVA BARRA DE PROGRESSO
        await ToggleProgressBool();

        // CRIA OBJETO USUÁRIO
        var usuario_criado = new User(nome, email, senha);

        Console.WriteLine(usuario_criado.ToString());

        // FAZ REQUISIÇÃO A API COM O OBJETO USUÁRIO CONVERTIDO PARA JSON E RECEBE A RESPOSTA
        var postResponse = await Http.PostAsJsonAsync("http://localhost:5299/Registrar", usuario_criado);

        // VERIFICA O RESULTADO
        if(postResponse.IsSuccessStatusCode)
        {
            // DESATIVA BARRA DE PROGRESSO
            await ToggleProgressBool();

            var postResult = await postResponse.Content.ReadFromJsonAsync<PostResult>();
            response = $"Usuário criado com sucesso! Token: {postResult.token}";

            // APAGA FORMULÁRIO
            Nome_Create = "";
            Email_Create = "";
            Password_Create = "";

            // MENSAGEM DE SUCESSO NA TELA
            Carousel.MoveTo(2);
        }
        else
        {
            // DESATIVA BARRA DE PROGRESSO
            await ToggleProgressBool();

            response = postResponse.ToString();
            Console.WriteLine(postResponse);
            Console.WriteLine(postResponse.StatusCode.ToString());
            Console.WriteLine(postResponse.Content.ToString());
            // MENSAGEM DE ERRO NA TELA
            Erro_Create = true;
        }
    }

    // DEFINIÇÃO DA CLASSE USUÁRIO QUE SERÁ ENVIADO PARA A API (CONVERTIDA EM JSON ATRAVÉS DE MÉTODO NATIVO)
    public class User
    {
        public string Nome { get; set; }
        public string Email { get; set; }
        public string Senha { get; set; }

        public User(string nomeC, string emailC, string senhaC)
        {
            Nome = nomeC;
            Email = emailC;
            Senha = senhaC;
        }
    }

    // DEFINIÇÃO DA CLASSE RESULTADO DA REQUISIÇÃO API CASO SUCESSO
    public class PostResult
    {
        public string token { get; set; }
        public bool admin { get; set; }
    }
}