@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationState
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IConfiguration Configuration
@inject HttpClient Http
@using System.Net.Http.Json
@namespace MudBlazor
@using FinançasPessoaisWebAPI.FrontEnd.Models
@using FinançasPessoaisWebAPI.FrontEnd.Services
@inject AuthenticationService AuthenticationService
@using FinançasPessoaisWebAPI.FrontEnd.Helpers

<MudCarouselItem Class="pa-5" Transition="@Transition.Slide">
    <MudText Typo="Typo.h4" Class="pt-0"><b>Entrar</b></MudText>
    <MudText Typo="Typo.caption" Class="pb-4">Não tem conta? <MudLink Color="MudBlazor.Color.Primary"
            Typo="Typo.caption" Class="mt-6"
            OnClick="@(()=> Carousel.MoveTo(1))"><b>Crie uma agora!</b></MudLink>
    </MudText>

    <MudForm>
        @* EMAIL *@
        <MudText Typo="Typo.h6" Class="pt-5"><b>Email</b></MudText>
        <MudTextField @bind-Value="Email_Login" T="string" Required="true" Placeholder="usuario_gostosao@email.com"
            RequiredError="Como vai fazer login sem email? Seu burro!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />

        @* SENHA *@
        <MudText Typo="Typo.h6" Class="pt-5"><b>Senha</b></MudText>
        <MudTextField @bind-Value="Password_Login" Variant="MudBlazor.Variant.Outlined" Placeholder="seunome@123" InputType="@PasswordInput_Login"
            Adornment="Adornment.End" Required="true" RequiredError="Como saberemos se você é você mesmo?" AdornmentIcon="@PasswordInputIcon_Login" OnAdornmentClick="MostrarSenha_Login"
            AdornmentAriaLabel="Show Password" />


        <MudContainer Class="d-flex justify-space-between" style="padding: 0;">
            <MudCheckBox @bind-Value="@KeepLoggedIn" Dense="true" Label="Logado para todo sempre!" Class="mt-5"
                style="position: relative; left: -6px;"></MudCheckBox>
            <MudSpacer />
            <MudLink Color="MudBlazor.Color.Default" OnClick="@(()=> Carousel.MoveTo(1))" Class="mt-6" style="cursor: pointer;"><b>Tá com amnésia?</b></MudLink>


        </MudContainer>

        @* ENTRAR *@
        <MudButton OnClick="() => LoginBTN()" Variant="MudBlazor.Variant.Filled" Size="MudBlazor.Size.Large" DisableElevation="true" Disabled="@((Email_Login == null) || (Email_Login == "") ? true : false)" Color="MudBlazor.Color.Primary" Class="mt-5 mb-5"
            FullWidth="true"><b>Entrar</b></MudButton>
    </MudForm>

    <MudSpacer/>
                        
    
    @if (ErroLogin_Login)
    {
        <MudAlert  Class="" Severity="Severity.Error" Variant="MudBlazor.Variant.Filled">Email ou senha incorretos!</MudAlert>
    }

    @if (ErroEmail_Login)
    {
        <MudAlert Class="" Severity="Severity.Error" Variant="MudBlazor.Variant.Filled">Email inválido!</MudAlert>
    }
    
    @if (ErroSenha_Login)
    {
        <MudAlert Class="" Severity="Severity.Error" Variant="MudBlazor.Variant.Filled">Senha Necessária!</MudAlert>
    }
</MudCarouselItem>

@code{
    // RECEBE O CARROSSEL VIA PARÂMETRO
    [Parameter] public MudCarousel<object> Carousel { get; set; }
    [Parameter] public EventCallback<MudBlazor.MudCarousel<object>> CarouselChanged { get; set; }
    [Parameter] public bool ProgressBool { get; set; }
    [Parameter] public EventCallback<bool> ProgressBoolChanged { get; set; }

    private async Task ToggleProgressBool()
    {
        ProgressBool = !ProgressBool;
        await ProgressBoolChanged.InvokeAsync(ProgressBool);
    }

    // LOGIN ------------------------------------------------------------------------ 
    public bool Login_Create_Toggle { get; set; } = true;
    public bool KeepLoggedIn { get; set; } = true;
    public string? Email_Login { get; set; }
    public string? Password_Login { get; set; }
    bool isShow_Login;
    InputType PasswordInput_Login = InputType.Password;
    string PasswordInputIcon_Login = Icons.Material.Filled.VisibilityOff;
    void MostrarSenha_Login()
    {

        @if (isShow_Login)
        {
            isShow_Login = false;
            PasswordInputIcon_Login = Icons.Material.Filled.VisibilityOff;
            PasswordInput_Login = InputType.Password;
        }

        else
        {
            isShow_Login = true;
            PasswordInputIcon_Login = Icons.Material.Filled.Visibility;
            PasswordInput_Login = InputType.Text;
        }

    }

    // VERIFICAÇÃO DE LOGIN (EFETUADA COM O BOBTÃO 'ENTRAR')
    private async Task<bool> LoginBTN()
    {
        // ATIVA BARRA DE PROGRESSO
        await ToggleProgressBool();

        // RESETA TODOS OS ERROS PARA NÃO ACUMULAREM VISUALMENTE
        ErroLogin_Login = false;
        ErroEmail_Login = false;
        ErroSenha_Login = false;

        // VERIFICAR SENHA VAZIA
        if(Password_Login == "" || Password_Login==null){
            // DESATIVA BARRA DE PROGRESSO
            await ToggleProgressBool();
            ErroSenha_Login = true;
            return false;
        }

        // VALIDAR FORMATO DO EMAIL
        if(AuxFunc.ValidarEmail(Email_Login) == false)
        {
            // DESATIVA BARRA DE PROGRESSO
            await ToggleProgressBool();
            ErroEmail_Login = true;
            return false;
        }

        // CRIA OBJETO USUÁRIO DTO
        var usuario_criado = new LoginModel(Email_Login, Password_Login);

        // REQUIÇÃO DA API DE LOGIN
        if(await AuthenticationService.Login(usuario_criado) == true)
        {
            // REDIRECIONA PARA A PÁGINA DASHBOARD
            NavigationManager.NavigateTo("/dashboard");
            return true;
        }
        else
        {
            // DESATIVA BARRA DE PROGRESSO
            await ToggleProgressBool();

            // RETORNA ERRO
            ErroLogin_Login = true;
            return false;
        }

    }


    // ALERTAS DE ERRO
    public bool ErroLogin_Login { get; set; } = false;
    public bool ErroEmail_Login { get; set; } = false;
    public bool ErroSenha_Login { get; set; } = false;

}