@using FinançasPessoaisWebAPI.FrontEnd.Components.LoginSlides

<MudContainer Class="Dir pa-0" style="width: 50%;">

    <MudCarousel Class="mud-width-full" Style="height:100%; border-top-right-radius: 1em; border-bottom-right-radius: 1em; " ShowArrows="true" ShowBullets="true" BulletsColor="MudBlazor.Color.Primary" AutoCycleTime="new TimeSpan(0,0,10)"
        EnableSwipeGesture="true" AutoCycle="true" TData="object">

        <MudCarouselItem Transition="@Transition.Slide">
            <SlideC1 />
        </MudCarouselItem>

        <MudCarouselItem Transition="@Transition.Slide">
            <SlideC2 />
        </MudCarouselItem>

        <MudCarouselItem Transition="@Transition.Slide">
            <SlideC3 />
        </MudCarouselItem>

        <MudCarouselItem Transition="@Transition.Slide">
            <SlideC4 />
        </MudCarouselItem>

        <MudCarouselItem Transition="@Transition.Slide">
            <SlideC5 />
        </MudCarouselItem>

        <MudCarouselItem Transition="@Transition.Slide">
            <SlideC6 />
        </MudCarouselItem>

    </MudCarousel>

</MudContainer>