@inject HttpClient Http
@using System.Net.Http.Json
@using FinançasPessoaisWebAPI.FrontEnd.Layout

<MudCarouselItem Class="pa-5 d-flex flex-column justify-center align-content-center" Transition="@Transition.Slide">

    <MudText Typo="Typo.h3" Color="MudBlazor.Color.Primary"><b>Parabéns!</b></MudText>
    <MudText Typo="Typo.h4" Color="MudBlazor.Color.Primary"><b>Sua conta foi criada com sucesso</b></MudText>

    <MudText Class="mt-2" Typo="Typo.body1"><b>Clique no botão abaixo para fazer login:</b></MudText>
    <MudButton Class="mt-2" OnClick="@(() => Carousel.MoveTo(0))" Variant="MudBlazor.Variant.Filled" Color="MudBlazor.Color.Primary" DisableElevation="true" Size="MudBlazor.Size.Large" Style="text-transform: unset;"><b>Fazer Login</b></MudButton>
    
</MudCarouselItem>

@code{
    // RECEBE O CARROSSEL VIA PARÂMETRO
    [Parameter] public MudCarousel<object> Carousel { get; set; }
    [Parameter] public EventCallback<MudBlazor.MudCarousel<object>> CarouselChanged { get; set; }
}