﻿@using FinançasPessoaisWebAPI.FrontEnd.Helpers
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">


        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(FinançasPessoaisWebAPI.FrontEnd.Layout.BeforeLoginLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>


        <NotFound>
            <PageTitle>Não Encontrado</PageTitle>
            <LayoutView Layout="@typeof(FinançasPessoaisWebAPI.FrontEnd.Layout.BeforeLoginLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>


    </Router>
</CascadingAuthenticationState>
